In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
requests = pd.read_csv('../data/hubNashville__311__Service_Requests.csv')
requests.head()

/var/folders/46/zm0dtt4s22d760_6ml4_t_vr0000gn/T/ipykernel_38971/1764631690.py:1: DtypeWarning: Columns (10,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  requests = pd.read_csv('../data/hubNashville__311__Service_Requests.csv')

,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,System of Origin ID,Contact Type,...,State Issue,Parent Request,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
0,966190,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,05/04/2022 05:54:30 PM,05/04/2022 05:54:30 PM,Phone,NaN,NaN,...,False,NaN,True,1301 Pilgrim Dr,MADISON,8,37115.0,36.271880,-86.717549,"(36.2718801, -86.7175492)"
1,932934,Closed,Public Safety,Abandoned Vehicles,Abandoned Vehicles,04/01/2022 09:01:39 PM,04/05/2022 11:29:54 AM,Phone,NaN,NaN,...,False,NaN,False,1237 Tuckahoe Dr,NASHVILLE,3,37207.0,36.257270,-86.763690,"(36.25727, -86.76369)"
2,932939,Closed,"Trash, Recycling & Litter",Cart Service,Trash - Report a Damaged Cart,04/01/2022 09:04:50 PM,04/06/2022 08:14:15 PM,Phone,NaN,NaN,...,False,NaN,False,3613 Wells Ct,ANTIOCH,33,37013.0,36.080968,-86.602406,"(36.080968, -86.602406)"
3,932935,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,04/01/2022 09:01:47 PM,04/01/2022 09:01:47 PM,Phone,NaN,NaN,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,932938,Closed,Public Safety,Request Non-Emergency Police Assistance,NaN,04/01/2022 09:03:10 PM,04/01/2022 10:04:31 PM,Phone,NaN,NaN,...,False,NaN,False,401 Broadway,NASHVILLE,19,37203.0,36.160740,-86.777260,"(36.16074, -86.77726)"

In [3]:
requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076715 entries, 0 to 1076714
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Request #                   1076715 non-null  int64
 1   Status                      1076715 non-null  object
 2   Request Type                1076287 non-null  object
 3   Subrequest Type             1071402 non-null  object
 4   Additional Subrequest Type  1026917 non-null  object
 5   Date / Time Opened          1076715 non-null  object
 6   Date / Time Closed          1063766 non-null  object
 7   Request Origin              1076715 non-null  object
 8   System of Origin ID         39480 non-null    object
 9   Contact Type                29999 non-null    object
 10  Preferred Language          1 non-null        object
 11  State Issue                 1076715 non-null  bool
 12  Parent Request              10636 non-null    float64
 13  Closed When Created         1076715 non-null  bool
 14  Address                     736852 non-null   object
 15  City                        725777 non-null   object
 16  Council District            725167 non-null   object
 17  ZIP                         724844 non-null   object
 18  Latitude                    736764 non-null   float64
 19  Longitude                   736764 non-null   float64
 20  Mapped Location             736764 non-null   object
dtypes: bool(2), float64(3), int64(1), object(15)
memory usage: 158.1+ MB

In [4]:
requests.groupby(['Request Type']).agg({'Request #':['value_counts']})

                                                             Request #
                                                          value_counts
Request Type                                    Request #
2nd Avenue Explosion Information and Assistance 530495               1
                                                530510               1
                                                530511               1
                                                530517               1
                                                530524               1
...                                                                ...
Workforce & Jobs                                35327                1
                                                37334                1
                                                53559                1
                                                92292                1
                                                146567               1

[1076287 rows x 1 columns]