In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime, timedelta, date

In [2]:
main_df = pd.read_csv('../data/requests_census_neighborhoods.csv')

/var/folders/46/zm0dtt4s22d760_6ml4_t_vr0000gn/T/ipykernel_64893/1706468830.py:1: DtypeWarning: Columns (2,3,5,7,8,9,10,47) have mixed types. Specify dtype option on import or set low_memory=False.
  main_df = pd.read_csv('../data/requests_census_neighborhoods.csv')

In [3]:
main_df.columns = main_df.columns.str.strip()

In [4]:
main_df['Households (Median Income)'] = main_df['Households (Median Income)'].str.replace(',', '')

In [5]:
main_df['Households (Median Income)'] = main_df['Households (Median Income)'].astype(int)

In [6]:
main_df['Income Bracket'] = ''

for ind, row in main_df.iterrows():
    if row['Households (Median Income)'] < 40000:
        main_df.loc[ind, 'Income Bracket'] = 'Less Than $40,000'
    elif row['Households (Median Income)'] >= 40000 and row['Households (Median Income)'] < 60000:
        main_df.loc[ind, 'Income Bracket'] = '$40,000 - $60,000'
    elif row['Households (Median Income)'] >= 60000 and row['Households (Median Income)'] < 80000:
        main_df.loc[ind, 'Income Bracket'] = '$60,000 - $80,000'
    elif row['Households (Median Income)'] >= 80000 and row['Households (Median Income)'] < 100000:
        main_df.loc[ind, 'Income Bracket'] = '$80,000 - $100,000'
    elif row['Households (Median Income)'] >= 100000:
        main_df.loc[ind, 'Income Bracket'] = 'More Than $100,000'
    else:
        main_df.loc[ind, 'Income Bracket'] = 'Other'

main_df.head()

,ZIP,Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),...,City,Council District,Latitude,Longitude,Mapped Location,Time to Resolve,Hours to Resolve,Days to Resolve,Neighborhood,Income Bracket
0,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,33.0,36.080968,-86.602406,"(36.080968, -86.602406)",4 days 23:09:25,119.156944,4.964873,Antioch / Cane Ridge,"$60,000 - $80,000"
1,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,28.0,36.072191,-86.664342,"(36.07219072, -86.66434192)",2 days 16:16:00,64.266667,2.677778,Antioch / Cane Ridge,"$60,000 - $80,000"
2,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,33.0,36.050526,-86.606362,"(36.05052579, -86.60636223)",35 days 15:25:00,855.416667,35.642361,Antioch / Cane Ridge,"$60,000 - $80,000"
3,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,29.0,36.073930,-86.609670,"(36.07393, -86.60967)",7 days 00:04:00,168.066667,7.002778,Antioch / Cane Ridge,"$60,000 - $80,000"
4,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,32.0,36.044549,-86.612186,"(36.0445494, -86.6121858)",1 days 04:29:00,28.483333,1.186806,Antioch / Cane Ridge,"$60,000 - $80,000"

In [7]:
main_df['Households (Count)'] = main_df['Households (Count)'].str.replace(',', '')
main_df['Households (Count)'].value_counts()
main_df['Households (Count)'] = main_df['Households (Count)'].astype(float)

In [8]:
main_df['Black or African American (Percent Distribution)'] = main_df['Black or African American (Percent Distribution)'].str.replace('%', '')
main_df['Black or African American (Percent Distribution)'] = main_df['Black or African American (Percent Distribution)'].astype(float)

In [9]:
main_df['American Indian and Alaska Native (Percent Distribution)'] = main_df['American Indian and Alaska Native (Percent Distribution)'].str.replace('%', '')
main_df['American Indian and Alaska Native (Percent Distribution)'] = main_df['American Indian and Alaska Native (Percent Distribution)'].astype(float)

In [10]:
main_df['Asian (Percent Distribution)'] = main_df['Asian (Percent Distribution)'].str.replace('%', '')
main_df['Asian (Percent Distribution)'] = main_df['Asian (Percent Distribution)'].astype(float)

In [11]:
main_df['Native Hawaiian and Other Pacific Islander (Percent Distribution)'] = main_df['Native Hawaiian and Other Pacific Islander (Percent Distribution)'].str.replace('%', '')
main_df['Native Hawaiian and Other Pacific Islander (Percent Distribution)'] = main_df['Native Hawaiian and Other Pacific Islander (Percent Distribution)'].astype(float)

In [12]:
main_df['Some other race (Percent Distribution)'] = main_df['Some other race (Percent Distribution)'].str.replace('%', '')
main_df['Some other race (Percent Distribution)'] = main_df['Some other race (Percent Distribution)'].astype(float)

In [13]:
main_df['Hispanic or Latino origin (of any race) (Percent Distribution)'] = main_df['Hispanic or Latino origin (of any race) (Percent Distribution)'].str.replace('%', '')
main_df['Hispanic or Latino origin (of any race) (Percent Distribution)'] = main_df['Hispanic or Latino origin (of any race) (Percent Distribution)'].astype(float)

In [14]:
main_df['White (Percent Distribution)'] = main_df['White (Percent Distribution)'].str.replace('%', '')
main_df['White (Percent Distribution)'] = main_df['White (Percent Distribution)'].astype(float)

In [15]:
main_df['Two or more races (Percent Distribution)'] = main_df['Two or more races (Percent Distribution)'].str.replace('%', '')
main_df['Two or more races (Percent Distribution)'] = main_df['Two or more races (Percent Distribution)'].astype(float)

In [16]:
main_df['White alone, not Hispanic or Latino (Percent Distribution)'] = main_df['White alone, not Hispanic or Latino (Percent Distribution)'].str.replace('%', '')
main_df['White alone, not Hispanic or Latino (Percent Distribution)'] = main_df['White alone, not Hispanic or Latino (Percent Distribution)'].astype(float)

In [17]:
main_df['Minority Population %'] = main_df['Black or African American (Percent Distribution)'] + main_df['American Indian and Alaska Native (Percent Distribution)'] + main_df['Asian (Percent Distribution)'] + main_df['Native Hawaiian and Other Pacific Islander (Percent Distribution)'] + main_df['Some other race (Percent Distribution)'] + main_df['Hispanic or Latino origin (of any race) (Percent Distribution)']

In [18]:
main_df['Minority Population Percent'] = 100 - main_df['White alone, not Hispanic or Latino (Percent Distribution)']

In [19]:
# main_df['Minority Population %'].value_counts()

In [20]:
# main_df['Minority Population Percent'].value_counts()

In [21]:
del main_df['Minority Population %']

In [22]:
main_df = main_df.rename(columns={'Minority Population Percent':'Minority Population %'})

In [23]:
main_df['White (Median Income)'] = main_df['White (Median Income)'].str.replace(',', '')
main_df['White (Median Income)'] = main_df['White (Median Income)'].astype(float)

In [24]:
# main_df['Black or African American (Median Income)'].value_counts()

In [25]:
# main_df['Black or African American (Median Income)'] = main_df['Black or African American (Median Income)'].str.replace(',', '')
# main_df['Black or African American (Median Income)'] = main_df['Black or African American (Median Income)'].astype(float)

In [26]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722026 entries, 0 to 722025
Data columns (total 57 columns):
 #   Column                                                             Non-Null Count   Dtype
---  ------                                                             --------------   -----
 0   ZIP                                                                722026 non-null  int64
 1   Households (Count)                                                 722026 non-null  float64
 2   White (Count)                                                      722026 non-null  object
 3   Black or African American (Count)                                  722026 non-null  object
 4   American Indian and Alaska Native (Count)                          722026 non-null  float64
 5   Asian (Count)                                                      722026 non-null  object
 6   Native Hawaiian and Other Pacific Islander (Count)                 722026 non-null  float64
 7   Some other race (Count)                                            722026 non-null  object
 8   Two or more races (Count)                                          722026 non-null  object
 9   Hispanic or Latino origin (of any race) (Count)                    722026 non-null  object
 10  White alone, not Hispanic or Latino (Count)                        722026 non-null  object
 11  Households (Percent Distribution)                                  722026 non-null  object
 12  White (Percent Distribution)                                       722026 non-null  float64
 13  Black or African American (Percent Distribution)                   722026 non-null  float64
 14  American Indian and Alaska Native (Percent Distribution)           722026 non-null  float64
 15  Asian (Percent Distribution)                                       722026 non-null  float64
 16  Native Hawaiian and Other Pacific Islander (Percent Distribution)  722026 non-null  float64
 17  Some other race (Percent Distribution)                             722026 non-null  float64
 18  Two or more races (Percent Distribution)                           722026 non-null  float64
 19  Hispanic or Latino origin (of any race) (Percent Distribution)     722026 non-null  float64
 20  White alone, not Hispanic or Latino (Percent Distribution)         722026 non-null  float64
 21  Households (Median Income)                                         722026 non-null  int64
 22  White (Median Income)                                              722026 non-null  float64
 23  Black or African American (Median Income)                          722026 non-null  object
 24  American Indian and Alaska Native (Median Income)                  722026 non-null  object
 25  Asian (Median Income)                                              722026 non-null  object
 26  Native Hawaiian and Other Pacific Islander (Median Income)         722026 non-null  object
 27  Some other race (Median Income)                                    722026 non-null  object
 28  Two or more races (Median Income)                                  722026 non-null  object
 29  Hispanic or Latino origin (of any race) (Median Income)            722026 non-null  object
 30  White alone, not Hispanic or Latino (Median Income)                722026 non-null  object
 31  Request #                                                          722026 non-null  int64
 32  Status                                                             722026 non-null  object
 33  Request Type                                                       722018 non-null  object
 34  Subrequest Type                                                    721700 non-null  object
 35  Additional Subrequest Type                                         686587 non-null  object
 36  Date / Time Opened                                                 722026 non-null  object
 37  Date / Time Closed                                                 710463 non-null  object
 38  Request Origin                                                     722026 non-null  object
 39  System of Origin ID                                                38681 non-null   object
 40  Contact Type                                                       28729 non-null   object
 41  Preferred Language                                                 0 non-null       float64
 42  State Issue                                                        722026 non-null  bool
 43  Parent Request                                                     10551 non-null   float64
 44  Closed When Created                                                722026 non-null  bool
 45  Address                                                            720571 non-null  object
 46  City                                                               721909 non-null  object
 47  Council District                                                   721435 non-null  object
 48  Latitude                                                           721573 non-null  float64
 49  Longitude                                                          721573 non-null  float64
 50  Mapped Location                                                    721573 non-null  object
 51  Time to Resolve                                                    710463 non-null  object
 52  Hours to Resolve                                                   710463 non-null  float64
 53  Days to Resolve                                                    710463 non-null  float64
 54  Neighborhood                                                       722026 non-null  object
 55  Income Bracket                                                     722026 non-null  object
 56  Minority Population %                                              722026 non-null  float64
dtypes: bool(2), float64(20), int64(3), object(32)
memory usage: 304.4+ MB

In [27]:
main_df.to_csv('../data/datatypes_cleaned.csv', index = False)

In [28]:
# income_zips = main_df.iloc[:, [0, 21, 33, 34, 35, 53, 54]]
# income_zips.info()

In [29]:
# def resolve_mean(income_zips):
#     return income_zips['Days to Resolve'].mean()
# income_zips_group = income_zips.groupby(['Neighborhood', 'Households (Median Income)']).apply(resolve_mean)
# income_zips_group = income_zips_group.reset_index()
# plt.figure(figsize = (16, 8))
# sns.scatterplot(data = income_zips_group, x = 'Households (Median Income)', y = 0)
# plt.ylabel('Avg Days to Resolve Request');

In [30]:
# income_zips_group.sort_values(by = ['Households (Median Income)'], ascending = False)

In [31]:
# main_df.groupby(['Neighborhood', 'Request Type']).agg({'Days to Resolve':'mean'})

In [32]:
# main_df.groupby('Neighborhood')['Request Type'].value_counts()