In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
census = pd.read_csv('../data/census_davidson_2021.csv')
census

,Label (Grouping),United States!!Number!!Estimate,United States!!Percent Distribution!!Estimate,United States!!Median income (dollars)!!Estimate,ZCTA5 37013!!Number!!Estimate,ZCTA5 37013!!Percent Distribution!!Estimate,ZCTA5 37013!!Median income (dollars)!!Estimate,ZCTA5 37072!!Number!!Estimate,ZCTA5 37072!!Percent Distribution!!Estimate,ZCTA5 37072!!Median income (dollars)!!Estimate,...,ZCTA5 37218!!Median income (dollars)!!Estimate,ZCTA5 37219!!Number!!Estimate,ZCTA5 37219!!Percent Distribution!!Estimate,ZCTA5 37219!!Median income (dollars)!!Estimate,ZCTA5 37220!!Number!!Estimate,ZCTA5 37220!!Percent Distribution!!Estimate,ZCTA5 37220!!Median income (dollars)!!Estimate,ZCTA5 37221!!Number!!Estimate,ZCTA5 37221!!Percent Distribution!!Estimate,ZCTA5 37221!!Median income (dollars)!!Estimate
0,HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATIN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Households,"124,010,992","124,010,992","69,021","35,483","35,483","61,801","13,324","13,324","66,475",...,"48,619",991.0,991,"91,275","2,456","2,456","137,976","18,388","18,388","90,660"
2,One race--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,White,"90,254,560",72.8%,"73,533","16,986",47.9%,"63,205","10,030",75.3%,"72,192",...,"51,580",938.0,94.7%,"89,926","2,389",97.3%,"137,637","16,015",87.1%,"89,964"
4,Black or African American,"15,219,807",12.3%,"46,401","14,101",39.7%,"61,172","1,967",14.8%,"48,381",...,"49,139",0.0,0.0%,-,67,2.7%,"138,506","1,371",7.5%,"93,036"
5,American Indian and Alaska Native,"867,539",0.7%,"50,183",90,0.3%,"109,464",1,0.0%,-,...,-,0.0,0.0%,-,0,0.0%,-,6,0.0%,-
6,Asian,"6,147,465",5.0%,"98,367","1,413",4.0%,"53,142",224,1.7%,-,...,-,19.0,1.9%,-,0,0.0%,-,527,2.9%,"130,938"
7,Native Hawaiian and Other Pacific ...,"168,880",0.1%,"71,029",0,0.0%,-,0,0.0%,-,...,-,0.0,0.0%,-,0,0.0%,-,0,0.0%,-
8,Some other race,"5,092,721",4.1%,"55,769","1,235",3.5%,"54,119",454,3.4%,"55,455",...,-,0.0,0.0%,-,0,0.0%,-,166,0.9%,-
9,Two or more races,"6,260,020",5.0%,"65,220","1,658",4.7%,"62,384",648,4.9%,"69,357",...,-,34.0,3.4%,-,0,0.0%,-,303,1.6%,"83,307"
10,Hispanic or Latino origin (of any race),"17,152,600",13.8%,"58,791","3,971",11.2%,"54,319",801,6.0%,"59,125",...,"62,974",78.0,7.9%,-,26,1.1%,-,487,2.6%,"60,739"
11,"White alone, not Hispanic or Latino","81,910,755",66.1%,"75,208","14,686",41.4%,"64,070","9,746",73.1%,"72,898",...,"50,920",860.0,86.8%,"87,721","2,363",96.2%,"133,869","15,715",85.5%,"90,597"
12,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15 to 24 years,"4,437,823",3.6%,"37,180","1,675",4.7%,"53,423",385,2.9%,"32,443",...,"47,273",180.0,18.2%,"96,558",22,0.9%,-,689,3.7%,"47,560"
14,25 to 44 years,"40,285,918",32.5%,"76,311","17,356",48.9%,"59,495","4,137",31.0%,"71,036",...,"49,430",561.0,56.6%,"39,099",782,31.8%,"156,250","6,243",34.0%,"96,250"
15,45 to 64 years,"46,809,545",37.7%,"83,172","12,288",34.6%,"72,281","4,932",37.0%,"72,959",...,"58,708",201.0,20.3%,-,758,30.9%,"155,667","6,408",34.8%,"103,190"
16,65 years and over,"32,477,706",26.2%,"50,523","4,164",11.7%,"51,190","3,870",29.0%,"59,050",...,"39,477",49.0,4.9%,-,894,36.4%,"90,135","5,048",27.5%,"67,889"
17,FAMILIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Families,"80,755,759","80,755,759","85,028","23,121","23,121","66,994","8,398","8,398","84,983",...,"58,672",153.0,153,"184,960","1,936","1,936","148,700","11,064","11,064","109,781"
19,With own children of householder under...,"33,700,465",41.7%,"82,767","12,293",53.2%,"49,581","3,018",35.9%,"71,480",...,"48,200",0.0,0.0%,-,695,35.9%,"189,196","4,489",40.6%,"112,991"
20,With no own children of householder un...,"47,055,294",58.3%,"86,460","10,828",46.8%,"81,645","5,380",64.1%,"88,032",...,"73,641",153.0,100.0%,"184,960","1,241",64.1%,"121,840","6,575",59.4%,"108,637"
21,Married-couple families,"59,331,185",73.5%,"101,560","15,208",65.8%,"75,053","5,967",71.1%,"98,998",...,"94,000",153.0,100.0%,"184,960","1,749",90.3%,"154,528","8,983",81.2%,"121,542"
22,With own children under 18 years,"23,012,380",28.5%,"110,026","8,122",35.1%,"60,259","1,760",21.0%,"105,330",...,"103,125",0.0,0.0%,-,641,33.1%,"191,488","3,421",30.9%,"137,831"
23,"Female householder, no spouse present","15,273,279",18.9%,"42,917","5,742",24.8%,"47,727","1,870",22.3%,"36,482",...,"26,280",0.0,0.0%,-,176,9.1%,"84,375","1,609",14.5%,"57,801"
24,With own children under 18 years,"7,864,372",9.7%,"32,586","3,284",14.2%,"35,112",925,11.0%,"26,208",...,"21,207",0.0,0.0%,-,54,2.8%,"90,000",835,7.5%,"56,094"
25,"Male householder, no spouse present","6,151,295",7.6%,"59,026","2,171",9.4%,"68,750",561,6.7%,"73,750",...,-,0.0,0.0%,-,11,0.6%,-,472,4.3%,"82,833"
26,With own children under 18 years,"2,823,713",3.5%,"50,942",887,3.8%,"46,425",333,4.0%,"66,544",...,-,0.0,0.0%,-,0,0.0%,-,233,2.1%,"83,063"
27,FAMILY INCOME BY FAMILY SIZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2-person families,"37,490,310",46.4%,"74,753","8,640",37.4%,"69,388","4,577",54.5%,"74,483",...,"44,568",153.0,100.0%,"184,960","1,039",53.7%,"107,336","5,663",51.2%,"101,326"
29,3-person families,"17,882,860",22.1%,"87,255","4,651",20.1%,"61,347","1,443",17.2%,"89,460",...,"74,444",0.0,0.0%,-,379,19.6%,"139,570","2,437",22.0%,"108,304"
30,4-person families,"14,748,996",18.3%,"104,888","4,911",21.2%,"70,908","1,613",19.2%,"103,454",...,"92,344",0.0,0.0%,-,272,14.0%,"192,024","1,983",17.9%,"119,627"
31,5-person families,"6,668,657",8.3%,"97,408","2,961",12.8%,"63,603",475,5.7%,"142,616",...,"83,906",0.0,0.0%,-,152,7.9%,"223,710",733,6.6%,"162,371"
32,6-person families,"2,483,004",3.1%,"94,109","1,131",4.9%,"62,583",214,2.5%,"125,909",...,-,0.0,0.0%,-,85,4.4%,"250,000+",117,1.1%,"142,688"
33,7-or-more person families,"1,481,932",1.8%,"98,426",827,3.6%,"61,497",76,0.9%,"250,000+",...,-,0.0,0.0%,-,9,0.5%,-,131,1.2%,"216,250"
34,FAMILY INCOME BY NUMBER OF EARNERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,No earners,"11,779,758",14.6%,"44,833","1,462",6.3%,"30,781",937,11.2%,"48,015",...,"33,233",0.0,0.0%,-,241,12.4%,"91,318","1,234",11.2%,"64,750"
36,1 earner,"25,714,541",31.8%,"58,780","7,664",33.1%,"44,662","2,643",31.5%,"48,866",...,"30,067",59.0,38.6%,-,611,31.6%,"138,506","2,785",25.2%,"82,656"
37,2 earners,"33,605,740",41.6%,"108,200","10,528",45.5%,"79,198","4,028",48.0%,"100,273",...,"79,103",94.0,61.4%,"195,132",972,50.2%,"157,167","5,851",52.9%,"126,250"
38,3 or more earners,"9,655,720",12.0%,"133,021","3,467",15.0%,"104,810",790,9.4%,"152,442",...,"119,821",0.0,0.0%,-,112,5.8%,"243,750","1,194",10.8%,"173,097"
39,NONFAMILY HOUSEHOLDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Nonfamily households,"43,255,233","43,255,233","41,394","12,362","12,362","50,364","4,926","4,926","45,721",...,"35,036",838.0,838,"88,382",520,520,"54,713","7,324","7,324","58,496"
41,Female householder,"22,850,026",52.8%,"36,162","6,156",49.8%,"47,915","2,577",52.3%,"35,389",...,"25,913",388.0,46.3%,"93,707",263,50.6%,"78,802","4,704",64.2%,"59,432"
42,Living alone,"19,047,242",44.0%,"31,550","4,751",38.4%,"42,391","2,275",46.2%,"32,094",...,"17,117",258.0,30.8%,"92,016",212,40.8%,"72,679","4,299",58.7%,"57,772"
43,Not living alone,"3,802,784",8.8%,"71,663","1,405",11.4%,"73,926",302,6.1%,"69,412",...,"45,341",130.0,15.5%,"95,725",51,9.8%,"195,365",405,5.5%,"95,474"
44,Male householder,"20,405,207",47.2%,"47,735","6,206",50.2%,"51,816","2,349",47.7%,"54,713",...,"39,640",450.0,53.7%,"57,357",257,49.4%,"47,188","2,620",35.8%,"56,238"
45,Living alone,"15,750,004",36.4%,"40,787","4,420",35.8%,"44,246","1,843",37.4%,"47,126",...,"38,857",367.0,43.8%,"55,750",231,44.4%,"45,865","1,936",26.4%,"47,053"
46,Not living alone,"4,655,203",10.8%,"79,760","1,786",14.4%,"75,655",506,10.3%,"72,614",...,"44,205",83.0,9.9%,-,26,5.0%,-,684,9.3%,"101,833"

In [13]:
census_df = census.transpose()
census_df = census_df.reset_index()
census_df.columns = census_df.iloc[0]
census_df = census_df.drop(labels = 0, axis = 0)
census_df = census_df.reset_index()
census_df = census_df.drop(labels = [0, 1, 2], axis = 0)
census_df = census_df.reset_index()
census_df = census_df.drop(labels = ['level_0', 'index'], axis = 1)

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER,Households,One race--,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,...,2 earners,3 or more earners,NONFAMILY HOUSEHOLDS,Nonfamily households,Female householder,Living alone,Not living alone,Male householder,Living alone,Not living alone
0,ZCTA5 37013!!Number!!Estimate,NaN,"35,483",NaN,"16,986","14,101",90,"1,413",0,"1,235",...,"10,528","3,467",NaN,"12,362","6,156","4,751","1,405","6,206","4,420","1,786"
1,ZCTA5 37013!!Percent Distribution!!Estimate,NaN,"35,483",NaN,47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,...,45.5%,15.0%,NaN,"12,362",49.8%,38.4%,11.4%,50.2%,35.8%,14.4%
2,ZCTA5 37013!!Median income (dollars)!!Estimate,NaN,"61,801",NaN,"63,205","61,172","109,464","53,142",-,"54,119",...,"79,198","104,810",NaN,"50,364","47,915","42,391","73,926","51,816","44,246","75,655"
3,ZCTA5 37072!!Number!!Estimate,NaN,"13,324",NaN,"10,030","1,967",1,224,0,454,...,"4,028",790,NaN,"4,926","2,577","2,275",302,"2,349","1,843",506
4,ZCTA5 37072!!Percent Distribution!!Estimate,NaN,"13,324",NaN,75.3%,14.8%,0.0%,1.7%,0.0%,3.4%,...,48.0%,9.4%,NaN,"4,926",52.3%,46.2%,6.1%,47.7%,37.4%,10.3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,ZCTA5 37220!!Percent Distribution!!Estimate,NaN,"2,456",NaN,97.3%,2.7%,0.0%,0.0%,0.0%,0.0%,...,50.2%,5.8%,NaN,520,50.6%,40.8%,9.8%,49.4%,44.4%,5.0%
68,ZCTA5 37220!!Median income (dollars)!!Estimate,NaN,"137,976",NaN,"137,637","138,506",-,-,-,-,...,"157,167","243,750",NaN,"54,713","78,802","72,679","195,365","47,188","45,865",-
69,ZCTA5 37221!!Number!!Estimate,NaN,"18,388",NaN,"16,015","1,371",6,527,0,166,...,"5,851","1,194",NaN,"7,324","4,704","4,299",405,"2,620","1,936",684
70,ZCTA5 37221!!Percent Distribution!!Estimate,NaN,"18,388",NaN,87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,...,52.9%,10.8%,NaN,"7,324",64.2%,58.7%,5.5%,35.8%,26.4%,9.3%
71,ZCTA5 37221!!Median income (dollars)!!Estimate,NaN,"90,660",NaN,"89,964","93,036",-,"130,938",-,-,...,"126,250","173,097",NaN,"58,496","59,432","57,772","95,474","56,238","47,053","101,833"

In [ ]:
zip_codes = []

for x in census_df['Label (Grouping)']:
    z = re.findall(r'\d{5}', x)
    if z:
        zip_codes.append(z)

zip_codes

In [15]:
zip_codes = pd.DataFrame(zip_codes, columns = ['zip_codes'])
zip_codes

   zip_codes
0      37013
1      37013
2      37013
3      37072
4      37072
..       ...
67     37220
68     37220
69     37221
70     37221
71     37221

[72 rows x 1 columns]

In [20]:
census_df = pd.merge(census_df, zip_codes, left_index = True, right_index = True)
census_df

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER,Households,One race--,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,...,3 or more earners,NONFAMILY HOUSEHOLDS,Nonfamily households,Female householder,Living alone,Not living alone,Male householder,Living alone,Not living alone,zip_codes
0,ZCTA5 37013!!Number!!Estimate,NaN,"35,483",NaN,"16,986","14,101",90,"1,413",0,"1,235",...,"3,467",NaN,"12,362","6,156","4,751","1,405","6,206","4,420","1,786",37013
1,ZCTA5 37013!!Percent Distribution!!Estimate,NaN,"35,483",NaN,47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,...,15.0%,NaN,"12,362",49.8%,38.4%,11.4%,50.2%,35.8%,14.4%,37013
2,ZCTA5 37013!!Median income (dollars)!!Estimate,NaN,"61,801",NaN,"63,205","61,172","109,464","53,142",-,"54,119",...,"104,810",NaN,"50,364","47,915","42,391","73,926","51,816","44,246","75,655",37013
3,ZCTA5 37072!!Number!!Estimate,NaN,"13,324",NaN,"10,030","1,967",1,224,0,454,...,790,NaN,"4,926","2,577","2,275",302,"2,349","1,843",506,37072
4,ZCTA5 37072!!Percent Distribution!!Estimate,NaN,"13,324",NaN,75.3%,14.8%,0.0%,1.7%,0.0%,3.4%,...,9.4%,NaN,"4,926",52.3%,46.2%,6.1%,47.7%,37.4%,10.3%,37072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,ZCTA5 37220!!Percent Distribution!!Estimate,NaN,"2,456",NaN,97.3%,2.7%,0.0%,0.0%,0.0%,0.0%,...,5.8%,NaN,520,50.6%,40.8%,9.8%,49.4%,44.4%,5.0%,37220
68,ZCTA5 37220!!Median income (dollars)!!Estimate,NaN,"137,976",NaN,"137,637","138,506",-,-,-,-,...,"243,750",NaN,"54,713","78,802","72,679","195,365","47,188","45,865",-,37220
69,ZCTA5 37221!!Number!!Estimate,NaN,"18,388",NaN,"16,015","1,371",6,527,0,166,...,"1,194",NaN,"7,324","4,704","4,299",405,"2,620","1,936",684,37221
70,ZCTA5 37221!!Percent Distribution!!Estimate,NaN,"18,388",NaN,87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,...,10.8%,NaN,"7,324",64.2%,58.7%,5.5%,35.8%,26.4%,9.3%,37221
71,ZCTA5 37221!!Median income (dollars)!!Estimate,NaN,"90,660",NaN,"89,964","93,036",-,"130,938",-,-,...,"173,097",NaN,"58,496","59,432","57,772","95,474","56,238","47,053","101,833",37221

In [ ]:
census_df.info()

In [22]:
census_clean = census_df.iloc[:, [48, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]]
census_clean

,zip_codes,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER,Households,One race--,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,...,2 earners,3 or more earners,NONFAMILY HOUSEHOLDS,Nonfamily households,Female householder,Living alone,Not living alone,Male householder,Living alone,Not living alone
0,37013,ZCTA5 37013!!Number!!Estimate,NaN,"35,483",NaN,"16,986","14,101",90,"1,413",0,...,"10,528","3,467",NaN,"12,362","6,156","4,751","1,405","6,206","4,420","1,786"
1,37013,ZCTA5 37013!!Percent Distribution!!Estimate,NaN,"35,483",NaN,47.9%,39.7%,0.3%,4.0%,0.0%,...,45.5%,15.0%,NaN,"12,362",49.8%,38.4%,11.4%,50.2%,35.8%,14.4%
2,37013,ZCTA5 37013!!Median income (dollars)!!Estimate,NaN,"61,801",NaN,"63,205","61,172","109,464","53,142",-,...,"79,198","104,810",NaN,"50,364","47,915","42,391","73,926","51,816","44,246","75,655"
3,37072,ZCTA5 37072!!Number!!Estimate,NaN,"13,324",NaN,"10,030","1,967",1,224,0,...,"4,028",790,NaN,"4,926","2,577","2,275",302,"2,349","1,843",506
4,37072,ZCTA5 37072!!Percent Distribution!!Estimate,NaN,"13,324",NaN,75.3%,14.8%,0.0%,1.7%,0.0%,...,48.0%,9.4%,NaN,"4,926",52.3%,46.2%,6.1%,47.7%,37.4%,10.3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,37220,ZCTA5 37220!!Percent Distribution!!Estimate,NaN,"2,456",NaN,97.3%,2.7%,0.0%,0.0%,0.0%,...,50.2%,5.8%,NaN,520,50.6%,40.8%,9.8%,49.4%,44.4%,5.0%
68,37220,ZCTA5 37220!!Median income (dollars)!!Estimate,NaN,"137,976",NaN,"137,637","138,506",-,-,-,...,"157,167","243,750",NaN,"54,713","78,802","72,679","195,365","47,188","45,865",-
69,37221,ZCTA5 37221!!Number!!Estimate,NaN,"18,388",NaN,"16,015","1,371",6,527,0,...,"5,851","1,194",NaN,"7,324","4,704","4,299",405,"2,620","1,936",684
70,37221,ZCTA5 37221!!Percent Distribution!!Estimate,NaN,"18,388",NaN,87.1%,7.5%,0.0%,2.9%,0.0%,...,52.9%,10.8%,NaN,"7,324",64.2%,58.7%,5.5%,35.8%,26.4%,9.3%
71,37221,ZCTA5 37221!!Median income (dollars)!!Estimate,NaN,"90,660",NaN,"89,964","93,036",-,"130,938",-,...,"126,250","173,097",NaN,"58,496","59,432","57,772","95,474","56,238","47,053","101,833"

In [23]:
census_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 49 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   zip_codes                                                              72 non-null     object
 1   Label (Grouping)                                                       72 non-null     object
 2   HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER  0 non-null      object
 3       Households                                                         72 non-null     object
 4           One race--                                                     0 non-null      object
 5               White                                                      72 non-null     object
 6               Black or African American                                  72 non-null     object
 7               American Indian and Alaska Native                          72 non-null     object
 8               Asian                                                      72 non-null     object
 9               Native Hawaiian and Other Pacific Islander                 72 non-null     object
 10              Some other race                                            72 non-null     object
 11          Two or more races                                              72 non-null     object
 12          Hispanic or Latino origin (of any race)                        72 non-null     object
 13          White alone, not Hispanic or Latino                            72 non-null     object
 14  HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER                                 0 non-null      object
 15      15 to 24 years                                                     72 non-null     object
 16      25 to 44 years                                                     72 non-null     object
 17      45 to 64 years                                                     72 non-null     object
 18      65 years and over                                                  72 non-null     object
 19  FAMILIES                                                               0 non-null      object
 20      Families                                                           72 non-null     object
 21          With own children of householder under 18 years                72 non-null     object
 22          With no own children of householder under 18 years             72 non-null     object
 23          Married-couple families                                        72 non-null     object
 24              With own children under 18 years                           72 non-null     object
 25          Female householder, no spouse present                          72 non-null     object
 26              With own children under 18 years                           72 non-null     object
 27          Male householder, no spouse present                            72 non-null     object
 28              With own children under 18 years                           72 non-null     object
 29  FAMILY INCOME BY FAMILY SIZE                                           0 non-null      object
 30      2-person families                                                  72 non-null     object
 31      3-person families                                                  72 non-null     object
 32      4-person families                                                  72 non-null     object
 33      5-person families                                                  72 non-null     object
 34      6-person families                                                  72 non-null     object
 35      7-or-more person families                                          72 non-null     object
 36  FAMILY INCOME BY NUMBER OF EARNERS                                     0 non-null      object
 37      No earners                                                         72 non-null     object
 38      1 earner                                                           72 non-null     object
 39      2 earners                                                          72 non-null     object
 40      3 or more earners                                                  72 non-null     object
 41  NONFAMILY HOUSEHOLDS                                                   0 non-null      object
 42      Nonfamily households                                               72 non-null     object
 43          Female householder                                             72 non-null     object
 44              Living alone                                               72 non-null     object
 45              Not living alone                                           72 non-null     object
 46          Male householder                                               72 non-null     object
 47              Living alone                                               72 non-null     object
 48              Not living alone                                           72 non-null     object
dtypes: object(49)
memory usage: 27.7+ KB

In [25]:
census_clean_df = census_clean.drop(census_clean.columns[[2, 4, 14, 19, 29, 36, 41]], axis = 1)
census_clean_df

,zip_codes,Label (Grouping),Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,...,1 earner,2 earners,3 or more earners,Nonfamily households,Female householder,Living alone,Not living alone,Male householder,Living alone,Not living alone
0,37013,ZCTA5 37013!!Number!!Estimate,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658",...,"7,664","10,528","3,467","12,362","6,156","4,751","1,405","6,206","4,420","1,786"
1,37013,ZCTA5 37013!!Percent Distribution!!Estimate,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,...,33.1%,45.5%,15.0%,"12,362",49.8%,38.4%,11.4%,50.2%,35.8%,14.4%
2,37013,ZCTA5 37013!!Median income (dollars)!!Estimate,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384",...,"44,662","79,198","104,810","50,364","47,915","42,391","73,926","51,816","44,246","75,655"
3,37072,ZCTA5 37072!!Number!!Estimate,"13,324","10,030","1,967",1,224,0,454,648,...,"2,643","4,028",790,"4,926","2,577","2,275",302,"2,349","1,843",506
4,37072,ZCTA5 37072!!Percent Distribution!!Estimate,"13,324",75.3%,14.8%,0.0%,1.7%,0.0%,3.4%,4.9%,...,31.5%,48.0%,9.4%,"4,926",52.3%,46.2%,6.1%,47.7%,37.4%,10.3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,37220,ZCTA5 37220!!Percent Distribution!!Estimate,"2,456",97.3%,2.7%,0.0%,0.0%,0.0%,0.0%,0.0%,...,31.6%,50.2%,5.8%,520,50.6%,40.8%,9.8%,49.4%,44.4%,5.0%
68,37220,ZCTA5 37220!!Median income (dollars)!!Estimate,"137,976","137,637","138,506",-,-,-,-,-,...,"138,506","157,167","243,750","54,713","78,802","72,679","195,365","47,188","45,865",-
69,37221,ZCTA5 37221!!Number!!Estimate,"18,388","16,015","1,371",6,527,0,166,303,...,"2,785","5,851","1,194","7,324","4,704","4,299",405,"2,620","1,936",684
70,37221,ZCTA5 37221!!Percent Distribution!!Estimate,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,...,25.2%,52.9%,10.8%,"7,324",64.2%,58.7%,5.5%,35.8%,26.4%,9.3%
71,37221,ZCTA5 37221!!Median income (dollars)!!Estimate,"90,660","89,964","93,036",-,"130,938",-,-,"83,307",...,"82,656","126,250","173,097","58,496","59,432","57,772","95,474","56,238","47,053","101,833"