In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
census = pd.read_csv('../data/census_2021ACS.csv')
census

,Label (Grouping),ZCTA5 37013!!Number!!Estimate,ZCTA5 37013!!Percent Distribution!!Estimate,ZCTA5 37013!!Median income (dollars)!!Estimate,ZCTA5 37015!!Number!!Estimate,ZCTA5 37015!!Percent Distribution!!Estimate,ZCTA5 37015!!Median income (dollars)!!Estimate,ZCTA5 37027!!Number!!Estimate,ZCTA5 37027!!Percent Distribution!!Estimate,ZCTA5 37027!!Median income (dollars)!!Estimate,...,ZCTA5 37219!!Median income (dollars)!!Estimate,ZCTA5 37220!!Number!!Estimate,ZCTA5 37220!!Percent Distribution!!Estimate,ZCTA5 37220!!Median income (dollars)!!Estimate,ZCTA5 37221!!Number!!Estimate,ZCTA5 37221!!Percent Distribution!!Estimate,ZCTA5 37221!!Median income (dollars)!!Estimate,ZCTA5 37228!!Number!!Estimate,ZCTA5 37228!!Percent Distribution!!Estimate,ZCTA5 37228!!Median income (dollars)!!Estimate
0,HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATIN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Households,"35,483","35,483","61,801","7,047","7,047","63,755","21,914","21,914","135,284",...,"91,275","2,456","2,456","137,976","18,388","18,388","90,660","1,249","1,249","50,579"
2,One race--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,White,"16,986",47.9%,"63,205","6,580",93.4%,"64,028","19,089",87.1%,"135,509",...,"89,926","2,389",97.3%,"137,637","16,015",87.1%,"89,964",496,39.7%,"60,625"
4,Black or African American,"14,101",39.7%,"61,172",153,2.2%,"42,446",855,3.9%,"106,003",...,-,67,2.7%,"138,506","1,371",7.5%,"93,036",533,42.7%,"28,063"
5,American Indian and Alaska Native,90,0.3%,"109,464",15,0.2%,-,45,0.2%,-,...,-,0,0.0%,-,6,0.0%,-,0,0.0%,-
6,Asian,"1,413",4.0%,"53,142",0,0.0%,-,"1,274",5.8%,"186,204",...,-,0,0.0%,-,527,2.9%,"130,938",16,1.3%,-
7,Native Hawaiian and Other Pacific ...,0,0.0%,-,0,0.0%,-,0,0.0%,-,...,-,0,0.0%,-,0,0.0%,-,33,2.6%,-
8,Some other race,"1,235",3.5%,"54,119",93,1.3%,"62,689",68,0.3%,"165,132",...,-,0,0.0%,-,166,0.9%,-,0,0.0%,-
9,Two or more races,"1,658",4.7%,"62,384",206,2.9%,"65,855",583,2.7%,"146,277",...,-,0,0.0%,-,303,1.6%,"83,307",171,13.7%,-
10,Hispanic or Latino origin (of any race),"3,971",11.2%,"54,319",320,4.5%,"64,942",542,2.5%,"134,135",...,-,26,1.1%,-,487,2.6%,"60,739",0,0.0%,-
11,"White alone, not Hispanic or Latino","14,686",41.4%,"64,070","6,479",91.9%,"64,049","18,763",85.6%,"135,954",...,"87,721","2,363",96.2%,"133,869","15,715",85.5%,"90,597",496,39.7%,"60,625"
12,HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15 to 24 years,"1,675",4.7%,"53,423",177,2.5%,"41,384",372,1.7%,"58,750",...,"96,558",22,0.9%,-,689,3.7%,"47,560",155,12.4%,"63,447"
14,25 to 44 years,"17,356",48.9%,"59,495","2,071",29.4%,"67,526","5,803",26.5%,"134,289",...,"39,099",782,31.8%,"156,250","6,243",34.0%,"96,250",567,45.4%,"63,632"
15,45 to 64 years,"12,288",34.6%,"72,281","2,998",42.5%,"71,552","10,256",46.8%,"169,824",...,-,758,30.9%,"155,667","6,408",34.8%,"103,190",158,12.7%,"50,417"
16,65 years and over,"4,164",11.7%,"51,190","1,801",25.6%,"44,280","5,483",25.0%,"96,626",...,-,894,36.4%,"90,135","5,048",27.5%,"67,889",369,29.5%,"16,895"
17,FAMILIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Families,"23,121","23,121","66,994","4,900","4,900","68,715","16,553","16,553","165,703",...,"184,960","1,936","1,936","148,700","11,064","11,064","109,781",165,165,-
19,With own children of householder under...,"12,293",53.2%,"49,581","1,857",37.9%,"67,358","7,300",44.1%,"190,517",...,-,695,35.9%,"189,196","4,489",40.6%,"112,991",18,10.9%,-
20,With no own children of householder un...,"10,828",46.8%,"81,645","3,043",62.1%,"69,443","9,253",55.9%,"147,470",...,"184,960","1,241",64.1%,"121,840","6,575",59.4%,"108,637",147,89.1%,-
21,Married-couple families,"15,208",65.8%,"75,053","3,580",73.1%,"80,491","14,941",90.3%,"176,771",...,"184,960","1,749",90.3%,"154,528","8,983",81.2%,"121,542",79,47.9%,"155,764"
22,With own children under 18 years,"8,122",35.1%,"60,259","1,130",23.1%,"93,112","6,578",39.7%,"200,023",...,-,641,33.1%,"191,488","3,421",30.9%,"137,831",18,10.9%,-
23,"Female householder, no spouse present","5,742",24.8%,"47,727",757,15.4%,"39,319","1,223",7.4%,"95,260",...,-,176,9.1%,"84,375","1,609",14.5%,"57,801",66,40.0%,-
24,With own children under 18 years,"3,284",14.2%,"35,112",370,7.6%,"37,530",544,3.3%,"127,621",...,-,54,2.8%,"90,000",835,7.5%,"56,094",0,0.0%,-
25,"Male householder, no spouse present","2,171",9.4%,"68,750",563,11.5%,"52,546",389,2.4%,"105,341",...,-,11,0.6%,-,472,4.3%,"82,833",20,12.1%,-
26,With own children under 18 years,887,3.8%,"46,425",357,7.3%,"41,964",178,1.1%,-,...,-,0,0.0%,-,233,2.1%,"83,063",0,0.0%,-
27,FAMILY INCOME BY FAMILY SIZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2-person families,"8,640",37.4%,"69,388","2,361",48.2%,"63,790","7,706",46.6%,"141,278",...,"184,960","1,039",53.7%,"107,336","5,663",51.2%,"101,326",147,89.1%,-
29,3-person families,"4,651",20.1%,"61,347","1,221",24.9%,"70,721","2,851",17.2%,"167,175",...,-,379,19.6%,"139,570","2,437",22.0%,"108,304",18,10.9%,-
30,4-person families,"4,911",21.2%,"70,908",626,12.8%,"71,716","3,985",24.1%,"200,280",...,-,272,14.0%,"192,024","1,983",17.9%,"119,627",0,0.0%,-
31,5-person families,"2,961",12.8%,"63,603",297,6.1%,"102,917","1,619",9.8%,"198,917",...,-,152,7.9%,"223,710",733,6.6%,"162,371",0,0.0%,-
32,6-person families,"1,131",4.9%,"62,583",216,4.4%,"68,106",299,1.8%,"175,250",...,-,85,4.4%,"250,000+",117,1.1%,"142,688",0,0.0%,-
33,7-or-more person families,827,3.6%,"61,497",179,3.7%,"123,024",93,0.6%,"250,000+",...,-,9,0.5%,-,131,1.2%,"216,250",0,0.0%,-
34,FAMILY INCOME BY NUMBER OF EARNERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,No earners,"1,462",6.3%,"30,781",682,13.9%,"46,161","1,686",10.2%,"88,163",...,-,241,12.4%,"91,318","1,234",11.2%,"64,750",0,0.0%,-
36,1 earner,"7,664",33.1%,"44,662","1,654",33.8%,"53,425","4,510",27.2%,"163,851",...,-,611,31.6%,"138,506","2,785",25.2%,"82,656",12,7.3%,-
37,2 earners,"10,528",45.5%,"79,198","1,952",39.8%,"89,364","8,290",50.1%,"180,208",...,"195,132",972,50.2%,"157,167","5,851",52.9%,"126,250",153,92.7%,-
38,3 or more earners,"3,467",15.0%,"104,810",612,12.5%,"115,648","2,067",12.5%,"191,250",...,-,112,5.8%,"243,750","1,194",10.8%,"173,097",0,0.0%,-
39,NONFAMILY HOUSEHOLDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Nonfamily households,"12,362","12,362","50,364","2,147","2,147","36,300","5,361","5,361","67,008",...,"88,382",520,520,"54,713","7,324","7,324","58,496","1,084","1,084","45,313"
41,Female householder,"6,156",49.8%,"47,915","1,344",62.6%,"26,125","3,613",67.4%,"62,310",...,"93,707",263,50.6%,"78,802","4,704",64.2%,"59,432",627,57.8%,-
42,Living alone,"4,751",38.4%,"42,391",922,42.9%,"21,923","2,852",53.2%,"60,716",...,"92,016",212,40.8%,"72,679","4,299",58.7%,"57,772",404,37.3%,"24,491"
43,Not living alone,"1,405",11.4%,"73,926",422,19.7%,-,761,14.2%,"79,301",...,"95,725",51,9.8%,"195,365",405,5.5%,"95,474",223,20.6%,"250,000+"
44,Male householder,"6,206",50.2%,"51,816",803,37.4%,"46,339","1,748",32.6%,"107,375",...,"57,357",257,49.4%,"47,188","2,620",35.8%,"56,238",457,42.2%,"47,266"
45,Living alone,"4,420",35.8%,"44,246",651,30.3%,"43,454","1,226",22.9%,"109,808",...,"55,750",231,44.4%,"45,865","1,936",26.4%,"47,053",438,40.4%,"45,781"
46,Not living alone,"1,786",14.4%,"75,655",152,7.1%,"64,722",522,9.7%,"98,250",...,-,26,5.0%,-,684,9.3%,"101,833",19,1.8%,-

In [8]:
census_df = census.transpose()
census_df = census_df.reset_index()
census_df.columns = census_df.iloc[0]
census_df = census_df.drop(labels = 0, axis = 0)
census_df = census_df.reset_index()
census_df = census_df.drop(labels = ['index'], axis = 1)
census_df

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER,Households,One race--,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,...,2 earners,3 or more earners,NONFAMILY HOUSEHOLDS,Nonfamily households,Female householder,Living alone,Not living alone,Male householder,Living alone,Not living alone
0,ZCTA5 37013!!Number!!Estimate,NaN,"35,483",NaN,"16,986","14,101",90,"1,413",0,"1,235",...,"10,528","3,467",NaN,"12,362","6,156","4,751","1,405","6,206","4,420","1,786"
1,ZCTA5 37013!!Percent Distribution!!Estimate,NaN,"35,483",NaN,47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,...,45.5%,15.0%,NaN,"12,362",49.8%,38.4%,11.4%,50.2%,35.8%,14.4%
2,ZCTA5 37013!!Median income (dollars)!!Estimate,NaN,"61,801",NaN,"63,205","61,172","109,464","53,142",-,"54,119",...,"79,198","104,810",NaN,"50,364","47,915","42,391","73,926","51,816","44,246","75,655"
3,ZCTA5 37015!!Number!!Estimate,NaN,"7,047",NaN,"6,580",153,15,0,0,93,...,"1,952",612,NaN,"2,147","1,344",922,422,803,651,152
4,ZCTA5 37015!!Percent Distribution!!Estimate,NaN,"7,047",NaN,93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,...,39.8%,12.5%,NaN,"2,147",62.6%,42.9%,19.7%,37.4%,30.3%,7.1%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,NaN,"18,388",NaN,87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,...,52.9%,10.8%,NaN,"7,324",64.2%,58.7%,5.5%,35.8%,26.4%,9.3%
95,ZCTA5 37221!!Median income (dollars)!!Estimate,NaN,"90,660",NaN,"89,964","93,036",-,"130,938",-,-,...,"126,250","173,097",NaN,"58,496","59,432","57,772","95,474","56,238","47,053","101,833"
96,ZCTA5 37228!!Number!!Estimate,NaN,"1,249",NaN,496,533,0,16,33,0,...,153,0,NaN,"1,084",627,404,223,457,438,19
97,ZCTA5 37228!!Percent Distribution!!Estimate,NaN,"1,249",NaN,39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,...,92.7%,0.0%,NaN,"1,084",57.8%,37.3%,20.6%,42.2%,40.4%,1.8%
98,ZCTA5 37228!!Median income (dollars)!!Estimate,NaN,"50,579",NaN,"60,625","28,063",-,-,-,-,...,-,-,NaN,"45,313",-,"24,491","250,000+","47,266","45,781",-

In [9]:
zip_codes = []

for x in census_df['Label (Grouping)']:
    z = re.findall(r'\d{5}', x)
    if z:
        zip_codes.append(z)

zip_codes

[['37013'],
 ['37013'],
 ['37013'],
 ['37015'],
 ['37015'],
 ['37015'],
 ['37027'],
 ['37027'],
 ['37027'],
 ['37072'],
 ['37072'],
 ['37072'],
 ['37076'],
 ['37076'],
 ['37076'],
 ['37080'],
 ['37080'],
 ['37080'],
 ['37086'],
 ['37086'],
 ['37086'],
 ['37115'],
 ['37115'],
 ['37115'],
 ['37122'],
 ['37122'],
 ['37122'],
 ['37135'],
 ['37135'],
 ['37135'],
 ['37138'],
 ['37138'],
 ['37138'],
 ['37143'],
 ['37143'],
 ['37143'],
 ['37189'],
 ['37189'],
 ['37189'],
 ['37201'],
 ['37201'],
 ['37201'],
 ['37203'],
 ['37203'],
 ['37203'],
 ['37204'],
 ['37204'],
 ['37204'],
 ['37205'],
 ['37205'],
 ['37205'],
 ['37206'],
 ['37206'],
 ['37206'],
 ['37207'],
 ['37207'],
 ['37207'],
 ['37208'],
 ['37208'],
 ['37208'],
 ['37209'],
 ['37209'],
 ['37209'],
 ['37210'],
 ['37210'],
 ['37210'],
 ['37211'],
 ['37211'],
 ['37211'],
 ['37212'],
 ['37212'],
 ['37212'],
 ['37214'],
 ['37214'],
 ['37214'],
 ['37215'],
 ['37215'],
 ['37215'],
 ['37216'],
 ['37216'],
 ['37216'],
 ['37217'],
 ['37217'],
 ['37217'],
 ['37218'],
 ['37218'],
 ['37218'],
 ['37219'],
 ['37219'],
 ['37219'],
 ['37220'],
 ['37220'],
 ['37220'],
 ['37221'],
 ['37221'],
 ['37221'],
 ['37228'],
 ['37228'],
 ['37228']]

In [10]:
zip_codes = pd.DataFrame(zip_codes, columns = ['ZIP'])
zip_codes

      ZIP
0   37013
1   37013
2   37013
3   37015
4   37015
..    ...
94  37221
95  37221
96  37228
97  37228
98  37228

[99 rows x 1 columns]

In [11]:
census_df = pd.merge(census_df, zip_codes, left_index = True, right_index = True)
census_df

,Label (Grouping),HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER,Households,One race--,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,...,3 or more earners,NONFAMILY HOUSEHOLDS,Nonfamily households,Female householder,Living alone,Not living alone,Male householder,Living alone,Not living alone,ZIP
0,ZCTA5 37013!!Number!!Estimate,NaN,"35,483",NaN,"16,986","14,101",90,"1,413",0,"1,235",...,"3,467",NaN,"12,362","6,156","4,751","1,405","6,206","4,420","1,786",37013
1,ZCTA5 37013!!Percent Distribution!!Estimate,NaN,"35,483",NaN,47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,...,15.0%,NaN,"12,362",49.8%,38.4%,11.4%,50.2%,35.8%,14.4%,37013
2,ZCTA5 37013!!Median income (dollars)!!Estimate,NaN,"61,801",NaN,"63,205","61,172","109,464","53,142",-,"54,119",...,"104,810",NaN,"50,364","47,915","42,391","73,926","51,816","44,246","75,655",37013
3,ZCTA5 37015!!Number!!Estimate,NaN,"7,047",NaN,"6,580",153,15,0,0,93,...,612,NaN,"2,147","1,344",922,422,803,651,152,37015
4,ZCTA5 37015!!Percent Distribution!!Estimate,NaN,"7,047",NaN,93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,...,12.5%,NaN,"2,147",62.6%,42.9%,19.7%,37.4%,30.3%,7.1%,37015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,NaN,"18,388",NaN,87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,...,10.8%,NaN,"7,324",64.2%,58.7%,5.5%,35.8%,26.4%,9.3%,37221
95,ZCTA5 37221!!Median income (dollars)!!Estimate,NaN,"90,660",NaN,"89,964","93,036",-,"130,938",-,-,...,"173,097",NaN,"58,496","59,432","57,772","95,474","56,238","47,053","101,833",37221
96,ZCTA5 37228!!Number!!Estimate,NaN,"1,249",NaN,496,533,0,16,33,0,...,0,NaN,"1,084",627,404,223,457,438,19,37228
97,ZCTA5 37228!!Percent Distribution!!Estimate,NaN,"1,249",NaN,39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,...,0.0%,NaN,"1,084",57.8%,37.3%,20.6%,42.2%,40.4%,1.8%,37228
98,ZCTA5 37228!!Median income (dollars)!!Estimate,NaN,"50,579",NaN,"60,625","28,063",-,-,-,-,...,-,NaN,"45,313",-,"24,491","250,000+","47,266","45,781",-,37228

In [12]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 49 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Label (Grouping)                                                       99 non-null     object
 1   HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER  0 non-null      object
 2       Households                                                         99 non-null     object
 3           One race--                                                     0 non-null      object
 4               White                                                      99 non-null     object
 5               Black or African American                                  99 non-null     object
 6               American Indian and Alaska Native                          99 non-null     object
 7               Asian                                                      99 non-null     object
 8               Native Hawaiian and Other Pacific Islander                 99 non-null     object
 9               Some other race                                            99 non-null     object
 10          Two or more races                                              99 non-null     object
 11          Hispanic or Latino origin (of any race)                        99 non-null     object
 12          White alone, not Hispanic or Latino                            99 non-null     object
 13  HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER                                 0 non-null      object
 14      15 to 24 years                                                     99 non-null     object
 15      25 to 44 years                                                     99 non-null     object
 16      45 to 64 years                                                     99 non-null     object
 17      65 years and over                                                  99 non-null     object
 18  FAMILIES                                                               0 non-null      object
 19      Families                                                           99 non-null     object
 20          With own children of householder under 18 years                99 non-null     object
 21          With no own children of householder under 18 years             99 non-null     object
 22          Married-couple families                                        99 non-null     object
 23              With own children under 18 years                           99 non-null     object
 24          Female householder, no spouse present                          99 non-null     object
 25              With own children under 18 years                           99 non-null     object
 26          Male householder, no spouse present                            99 non-null     object
 27              With own children under 18 years                           99 non-null     object
 28  FAMILY INCOME BY FAMILY SIZE                                           0 non-null      object
 29      2-person families                                                  99 non-null     object
 30      3-person families                                                  99 non-null     object
 31      4-person families                                                  99 non-null     object
 32      5-person families                                                  99 non-null     object
 33      6-person families                                                  99 non-null     object
 34      7-or-more person families                                          99 non-null     object
 35  FAMILY INCOME BY NUMBER OF EARNERS                                     0 non-null      object
 36      No earners                                                         99 non-null     object
 37      1 earner                                                           99 non-null     object
 38      2 earners                                                          99 non-null     object
 39      3 or more earners                                                  99 non-null     object
 40  NONFAMILY HOUSEHOLDS                                                   0 non-null      object
 41      Nonfamily households                                               99 non-null     object
 42          Female householder                                             99 non-null     object
 43              Living alone                                               99 non-null     object
 44              Not living alone                                           99 non-null     object
 45          Male householder                                               99 non-null     object
 46              Living alone                                               99 non-null     object
 47              Not living alone                                           99 non-null     object
 48  ZIP                                                                    99 non-null     object
dtypes: object(49)
memory usage: 38.0+ KB

In [13]:
census_clean = census_df.iloc[:, np.r_[0, 2, 4:13, 48]]
census_clean

,Label (Grouping),Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",ZIP
0,ZCTA5 37013!!Number!!Estimate,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686",37013
1,ZCTA5 37013!!Percent Distribution!!Estimate,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%,37013
2,ZCTA5 37013!!Median income (dollars)!!Estimate,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070",37013
3,ZCTA5 37015!!Number!!Estimate,"7,047","6,580",153,15,0,0,93,206,320,"6,479",37015
4,ZCTA5 37015!!Percent Distribution!!Estimate,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%,37015
...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%,37221
95,ZCTA5 37221!!Median income (dollars)!!Estimate,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597",37221
96,ZCTA5 37228!!Number!!Estimate,"1,249",496,533,0,16,33,0,171,0,496,37228
97,ZCTA5 37228!!Percent Distribution!!Estimate,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%,37228
98,ZCTA5 37228!!Median income (dollars)!!Estimate,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625",37228

In [14]:
census_clean['Census Measure'] = ''
census_clean

/var/folders/46/zm0dtt4s22d760_6ml4_t_vr0000gn/T/ipykernel_53606/4064665580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_clean['Census Measure'] = ''

,Label (Grouping),Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",ZIP,Census Measure
0,ZCTA5 37013!!Number!!Estimate,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686",37013,
1,ZCTA5 37013!!Percent Distribution!!Estimate,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%,37013,
2,ZCTA5 37013!!Median income (dollars)!!Estimate,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070",37013,
3,ZCTA5 37015!!Number!!Estimate,"7,047","6,580",153,15,0,0,93,206,320,"6,479",37015,
4,ZCTA5 37015!!Percent Distribution!!Estimate,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%,37015,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%,37221,
95,ZCTA5 37221!!Median income (dollars)!!Estimate,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597",37221,
96,ZCTA5 37228!!Number!!Estimate,"1,249",496,533,0,16,33,0,171,0,496,37228,
97,ZCTA5 37228!!Percent Distribution!!Estimate,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%,37228,
98,ZCTA5 37228!!Median income (dollars)!!Estimate,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625",37228,

In [18]:
census_measure = []

for x in census_clean['Label (Grouping)']:
    v = re.findall(r'Number', x)
    y = re.findall(r'Percent Distribution', x)
    z = re.findall(r'Median income', x)
    if v:
        census_measure.append(v)
    if y:
        census_measure.append(y)
    if z:
        census_measure.append(z)

census_measure

[['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income'],
 ['Number'],
 ['Percent Distribution'],
 ['Median income']]

In [19]:
census_measure = pd.DataFrame(census_measure, columns = ['Census Measure'])
census_measure

          Census Measure
0                 Number
1   Percent Distribution
2          Median income
3                 Number
4   Percent Distribution
..                   ...
94  Percent Distribution
95         Median income
96                Number
97  Percent Distribution
98         Median income

[99 rows x 1 columns]

In [20]:
census_clean = pd.merge(census_clean, census_measure, left_index = True, right_index = True)
census_clean

,Label (Grouping),Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",ZIP,Census Measure_x,Census Measure_y
0,ZCTA5 37013!!Number!!Estimate,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686",37013,,Number
1,ZCTA5 37013!!Percent Distribution!!Estimate,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%,37013,,Percent Distribution
2,ZCTA5 37013!!Median income (dollars)!!Estimate,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070",37013,,Median income
3,ZCTA5 37015!!Number!!Estimate,"7,047","6,580",153,15,0,0,93,206,320,"6,479",37015,,Number
4,ZCTA5 37015!!Percent Distribution!!Estimate,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%,37015,,Percent Distribution
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%,37221,,Percent Distribution
95,ZCTA5 37221!!Median income (dollars)!!Estimate,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597",37221,,Median income
96,ZCTA5 37228!!Number!!Estimate,"1,249",496,533,0,16,33,0,171,0,496,37228,,Number
97,ZCTA5 37228!!Percent Distribution!!Estimate,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%,37228,,Percent Distribution
98,ZCTA5 37228!!Median income (dollars)!!Estimate,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625",37228,,Median income

In [24]:
census_clean

,Label (Grouping),Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",ZIP,Census Measure_y
0,ZCTA5 37013!!Number!!Estimate,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686",37013,Number
1,ZCTA5 37013!!Percent Distribution!!Estimate,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%,37013,Percent Distribution
2,ZCTA5 37013!!Median income (dollars)!!Estimate,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070",37013,Median income
3,ZCTA5 37015!!Number!!Estimate,"7,047","6,580",153,15,0,0,93,206,320,"6,479",37015,Number
4,ZCTA5 37015!!Percent Distribution!!Estimate,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%,37015,Percent Distribution
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%,37221,Percent Distribution
95,ZCTA5 37221!!Median income (dollars)!!Estimate,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597",37221,Median income
96,ZCTA5 37228!!Number!!Estimate,"1,249",496,533,0,16,33,0,171,0,496,37228,Number
97,ZCTA5 37228!!Percent Distribution!!Estimate,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%,37228,Percent Distribution
98,ZCTA5 37228!!Median income (dollars)!!Estimate,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625",37228,Median income

In [25]:
census_clean = census_clean.rename(columns = {'Census Measure_y': 'Census Measure'})
census_clean

,Label (Grouping),Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",ZIP,Census Measure
0,ZCTA5 37013!!Number!!Estimate,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686",37013,Number
1,ZCTA5 37013!!Percent Distribution!!Estimate,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%,37013,Percent Distribution
2,ZCTA5 37013!!Median income (dollars)!!Estimate,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070",37013,Median income
3,ZCTA5 37015!!Number!!Estimate,"7,047","6,580",153,15,0,0,93,206,320,"6,479",37015,Number
4,ZCTA5 37015!!Percent Distribution!!Estimate,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%,37015,Percent Distribution
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ZCTA5 37221!!Percent Distribution!!Estimate,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%,37221,Percent Distribution
95,ZCTA5 37221!!Median income (dollars)!!Estimate,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597",37221,Median income
96,ZCTA5 37228!!Number!!Estimate,"1,249",496,533,0,16,33,0,171,0,496,37228,Number
97,ZCTA5 37228!!Percent Distribution!!Estimate,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%,37228,Percent Distribution
98,ZCTA5 37228!!Median income (dollars)!!Estimate,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625",37228,Median income

In [26]:
census_clean = census_clean.drop(labels = ['Label (Grouping)'], axis = 1)
census_clean

,Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",ZIP,Census Measure
0,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686",37013,Number
1,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%,37013,Percent Distribution
2,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070",37013,Median income
3,"7,047","6,580",153,15,0,0,93,206,320,"6,479",37015,Number
4,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%,37015,Percent Distribution
...,...,...,...,...,...,...,...,...,...,...,...,...
94,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%,37221,Percent Distribution
95,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597",37221,Median income
96,"1,249",496,533,0,16,33,0,171,0,496,37228,Number
97,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%,37228,Percent Distribution
98,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625",37228,Median income

In [27]:
census_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0       Households                                          99 non-null     object
 1               White                                       99 non-null     object
 2               Black or African American                   99 non-null     object
 3               American Indian and Alaska Native           99 non-null     object
 4               Asian                                       99 non-null     object
 5               Native Hawaiian and Other Pacific Islander  99 non-null     object
 6               Some other race                             99 non-null     object
 7           Two or more races                               99 non-null     object
 8           Hispanic or Latino origin (of any race)         99 non-null     object
 9           White alone, not Hispanic or Latino             99 non-null     object
 10  ZIP                                                     99 non-null     object
 11  Census Measure                                          99 non-null     object
dtypes: object(12)
memory usage: 9.4+ KB

In [28]:
census_clean = census_clean.iloc[:, [10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
census_clean

,ZIP,Census Measure,Households,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino"
0,37013,Number,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686"
1,37013,Percent Distribution,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%
2,37013,Median income,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070"
3,37015,Number,"7,047","6,580",153,15,0,0,93,206,320,"6,479"
4,37015,Percent Distribution,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%
...,...,...,...,...,...,...,...,...,...,...,...,...
94,37221,Percent Distribution,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%
95,37221,Median income,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597"
96,37228,Number,"1,249",496,533,0,16,33,0,171,0,496
97,37228,Percent Distribution,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%
98,37228,Median income,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625"

In [37]:
census_number = census_clean.loc[census_clean['Census Measure'] == 'Number']
census_number = census_number.reset_index()
census_number = census_number.drop(labels = ['index'], axis = 1)
census_number
census_number_df = census_number.add_suffix(' (Count)')
census_number_df = census_number_df.rename(columns = {'ZIP (Count)': 'ZIP'})
census_number_df

,ZIP,Census Measure (Count),Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),"White alone, not Hispanic or Latino (Count)"
0,37013,Number,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971","14,686"
1,37015,Number,"7,047","6,580",153,15,0,0,93,206,320,"6,479"
2,37027,Number,"21,914","19,089",855,45,"1,274",0,68,583,542,"18,763"
3,37072,Number,"13,324","10,030","1,967",1,224,0,454,648,801,"9,746"
4,37076,Number,"16,614","11,833","3,930",2,211,0,277,361,755,"11,439"
5,37080,Number,"3,001","2,592",317,0,0,0,27,65,24,"2,592"
6,37086,Number,"12,593","7,577","3,526",42,265,0,661,522,"1,928","6,623"
7,37115,Number,"17,142","8,847","6,174",140,121,0,977,883,"1,938","8,172"
8,37122,Number,"22,563","19,442","1,324",129,406,30,395,837,629,"19,095"
9,37135,Number,"6,566","5,781",363,0,209,0,97,116,229,"5,625"
10,37138,Number,"9,527","8,173",969,0,73,0,112,200,338,"7,967"
11,37143,Number,"1,443","1,396",9,12,0,0,13,13,35,"1,387"
12,37189,Number,"1,655",862,771,0,0,0,0,22,18,844
13,37201,Number,857.0,715.0,0.0,0.0,87.0,0.0,0.0,55.0,13.0,715.0
14,37203,Number,"10,819","7,027","2,372",23,787,0,118,492,568,"6,633"
15,37204,Number,"6,632","5,233",893,0,264,0,36,206,167,"5,185"
16,37205,Number,"11,588","10,722",393,0,53,0,42,378,315,"10,560"
17,37206,Number,"12,176","8,399","2,930",21,182,64,113,467,315,"8,180"
18,37207,Number,"15,745","4,595","9,982",23,169,0,655,321,"1,278","4,089"
19,37208,Number,"8,114","3,129","4,490",19,106,13,80,277,207,"2,992"
20,37209,Number,"17,410","12,436","3,263",25,820,29,318,519,781,"11,991"
21,37210,Number,"7,154","4,208","2,119",7,422,12,176,210,741,"3,716"
22,37211,Number,"29,394","20,441","4,683",38,"1,686",22,"1,208","1,316","3,883","18,321"
23,37212,Number,"6,896","5,681",465,0,509,0,20,221,104,"5,599"
24,37214,Number,"14,203","10,830","2,543",0,200,0,223,407,751,"10,285"
25,37215,Number,"10,345","9,323",164,0,427,0,21,410,154,"9,249"
26,37216,Number,"8,572","6,301","1,888",6,126,0,94,157,188,"6,224"
27,37217,Number,"12,416","6,679","4,524",7,177,0,382,647,"1,451","5,749"
28,37218,Number,"5,877","1,143","4,421",0,29,0,173,111,173,"1,065"
29,37219,Number,991.0,938.0,0.0,0.0,19.0,0.0,0.0,34.0,78.0,860.0
30,37220,Number,"2,456","2,389",67,0,0,0,0,0,26,"2,363"
31,37221,Number,"18,388","16,015","1,371",6,527,0,166,303,487,"15,715"
32,37228,Number,"1,249",496,533,0,16,33,0,171,0,496

In [39]:
census_percent = census_clean.loc[census_clean['Census Measure'] == 'Percent Distribution']
census_percent = census_percent.reset_index()
census_percent = census_percent.drop(labels = ['index'], axis = 1)
census_percent
census_percent_df = census_percent.add_suffix(' (Percent Distribution)')
census_percent_df = census_percent_df.rename(columns = {'ZIP (Percent Distribution)': 'ZIP'})
census_percent_df

,ZIP,Census Measure (Percent Distribution),Households (Percent Distribution),White (Percent Distribution),Black or African American (Percent Distribution),American Indian and Alaska Native (Percent Distribution),Asian (Percent Distribution),Native Hawaiian and Other Pacific Islander (Percent Distribution),Some other race (Percent Distribution),Two or more races (Percent Distribution),Hispanic or Latino origin (of any race) (Percent Distribution),"White alone, not Hispanic or Latino (Percent Distribution)"
0,37013,Percent Distribution,"35,483",47.9%,39.7%,0.3%,4.0%,0.0%,3.5%,4.7%,11.2%,41.4%
1,37015,Percent Distribution,"7,047",93.4%,2.2%,0.2%,0.0%,0.0%,1.3%,2.9%,4.5%,91.9%
2,37027,Percent Distribution,"21,914",87.1%,3.9%,0.2%,5.8%,0.0%,0.3%,2.7%,2.5%,85.6%
3,37072,Percent Distribution,"13,324",75.3%,14.8%,0.0%,1.7%,0.0%,3.4%,4.9%,6.0%,73.1%
4,37076,Percent Distribution,"16,614",71.2%,23.7%,0.0%,1.3%,0.0%,1.7%,2.2%,4.5%,68.9%
5,37080,Percent Distribution,"3,001",86.4%,10.6%,0.0%,0.0%,0.0%,0.9%,2.2%,0.8%,86.4%
6,37086,Percent Distribution,"12,593",60.2%,28.0%,0.3%,2.1%,0.0%,5.2%,4.1%,15.3%,52.6%
7,37115,Percent Distribution,"17,142",51.6%,36.0%,0.8%,0.7%,0.0%,5.7%,5.2%,11.3%,47.7%
8,37122,Percent Distribution,"22,563",86.2%,5.9%,0.6%,1.8%,0.1%,1.8%,3.7%,2.8%,84.6%
9,37135,Percent Distribution,"6,566",88.0%,5.5%,0.0%,3.2%,0.0%,1.5%,1.8%,3.5%,85.7%
10,37138,Percent Distribution,"9,527",85.8%,10.2%,0.0%,0.8%,0.0%,1.2%,2.1%,3.5%,83.6%
11,37143,Percent Distribution,"1,443",96.7%,0.6%,0.8%,0.0%,0.0%,0.9%,0.9%,2.4%,96.1%
12,37189,Percent Distribution,"1,655",52.1%,46.6%,0.0%,0.0%,0.0%,0.0%,1.3%,1.1%,51.0%
13,37201,Percent Distribution,857,83.4%,0.0%,0.0%,10.2%,0.0%,0.0%,6.4%,1.5%,83.4%
14,37203,Percent Distribution,"10,819",65.0%,21.9%,0.2%,7.3%,0.0%,1.1%,4.5%,5.3%,61.3%
15,37204,Percent Distribution,"6,632",78.9%,13.5%,0.0%,4.0%,0.0%,0.5%,3.1%,2.5%,78.2%
16,37205,Percent Distribution,"11,588",92.5%,3.4%,0.0%,0.5%,0.0%,0.4%,3.3%,2.7%,91.1%
17,37206,Percent Distribution,"12,176",69.0%,24.1%,0.2%,1.5%,0.5%,0.9%,3.8%,2.6%,67.2%
18,37207,Percent Distribution,"15,745",29.2%,63.4%,0.1%,1.1%,0.0%,4.2%,2.0%,8.1%,26.0%
19,37208,Percent Distribution,"8,114",38.6%,55.3%,0.2%,1.3%,0.2%,1.0%,3.4%,2.6%,36.9%
20,37209,Percent Distribution,"17,410",71.4%,18.7%,0.1%,4.7%,0.2%,1.8%,3.0%,4.5%,68.9%
21,37210,Percent Distribution,"7,154",58.8%,29.6%,0.1%,5.9%,0.2%,2.5%,2.9%,10.4%,51.9%
22,37211,Percent Distribution,"29,394",69.5%,15.9%,0.1%,5.7%,0.1%,4.1%,4.5%,13.2%,62.3%
23,37212,Percent Distribution,"6,896",82.4%,6.7%,0.0%,7.4%,0.0%,0.3%,3.2%,1.5%,81.2%
24,37214,Percent Distribution,"14,203",76.3%,17.9%,0.0%,1.4%,0.0%,1.6%,2.9%,5.3%,72.4%
25,37215,Percent Distribution,"10,345",90.1%,1.6%,0.0%,4.1%,0.0%,0.2%,4.0%,1.5%,89.4%
26,37216,Percent Distribution,"8,572",73.5%,22.0%,0.1%,1.5%,0.0%,1.1%,1.8%,2.2%,72.6%
27,37217,Percent Distribution,"12,416",53.8%,36.4%,0.1%,1.4%,0.0%,3.1%,5.2%,11.7%,46.3%
28,37218,Percent Distribution,"5,877",19.4%,75.2%,0.0%,0.5%,0.0%,2.9%,1.9%,2.9%,18.1%
29,37219,Percent Distribution,991,94.7%,0.0%,0.0%,1.9%,0.0%,0.0%,3.4%,7.9%,86.8%
30,37220,Percent Distribution,"2,456",97.3%,2.7%,0.0%,0.0%,0.0%,0.0%,0.0%,1.1%,96.2%
31,37221,Percent Distribution,"18,388",87.1%,7.5%,0.0%,2.9%,0.0%,0.9%,1.6%,2.6%,85.5%
32,37228,Percent Distribution,"1,249",39.7%,42.7%,0.0%,1.3%,2.6%,0.0%,13.7%,0.0%,39.7%

In [40]:
census_income = census_clean.loc[census_clean['Census Measure'] == 'Median income']
census_income = census_income.reset_index()
census_income = census_income.drop(labels = ['index'], axis = 1)
census_income
census_income_df = census_income.add_suffix(' (Median Income)')
census_income_df = census_income_df.rename(columns = {'ZIP (Median Income)': 'ZIP'})
census_income_df

,ZIP,Census Measure (Median Income),Households (Median Income),White (Median Income),Black or African American (Median Income),American Indian and Alaska Native (Median Income),Asian (Median Income),Native Hawaiian and Other Pacific Islander (Median Income),Some other race (Median Income),Two or more races (Median Income),Hispanic or Latino origin (of any race) (Median Income),"White alone, not Hispanic or Latino (Median Income)"
0,37013,Median income,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070"
1,37015,Median income,"63,755","64,028","42,446",-,-,-,"62,689","65,855","64,942","64,049"
2,37027,Median income,"135,284","135,509","106,003",-,"186,204",-,"165,132","146,277","134,135","135,954"
3,37072,Median income,"66,475","72,192","48,381",-,-,-,"55,455","69,357","59,125","72,898"
4,37076,Median income,"66,793","69,958","58,246",-,"71,058",-,"53,555","76,806","56,322","70,051"
5,37080,Median income,"68,768","63,714","103,750",-,-,-,-,-,-,"63,714"
6,37086,Median income,"65,294","66,639","63,436",-,"95,742",-,"66,556","55,424","57,885","67,442"
7,37115,Median income,"52,448","53,258","49,383","52,313","79,484",-,"48,487","65,417","60,663","53,063"
8,37122,Median income,"99,435","97,775","89,672","116,934","132,833",-,"250,000+","77,122","115,669","96,815"
9,37135,Median income,"131,594","129,663","157,599",-,"110,434",-,-,"168,452","151,205","128,075"
10,37138,Median income,"79,182","79,994","77,672",-,-,-,"76,071","84,063","75,804","80,359"
11,37143,Median income,"76,845","78,158",-,-,-,-,-,-,-,"77,625"
12,37189,Median income,"80,523","107,955","69,120",-,-,-,-,-,-,"109,091"
13,37201,Median income,"95,353","96,929",-,-,-,-,-,-,-,"96,929"
14,37203,Median income,"59,406","68,784","24,083",-,"61,671",-,"197,951","60,673","68,678","69,067"
15,37204,Median income,"97,727","114,704","47,705",-,-,-,"46,042",-,"54,058","115,201"
16,37205,Median income,"120,377","121,195","53,173",-,-,-,"132,273","200,957",-,"122,456"
17,37206,Median income,"72,446","93,130","29,891",-,"189,487",-,-,-,"56,228","94,617"
18,37207,Median income,"52,827","69,366","44,709",-,"63,884",-,"58,277","50,382","58,143","69,433"
19,37208,Median income,"54,296","94,169","30,376",-,-,-,"2,500-","62,137","59,417","94,819"
20,37209,Median income,"63,287","78,379","36,028",-,"87,917",-,"35,161","47,766","27,156","80,602"
21,37210,Median income,"40,945","53,750","22,310",-,"51,543",-,"40,789","72,292","52,788","53,077"
22,37211,Median income,"61,781","64,884","58,825",-,"63,452",-,"44,125","53,095","45,786","68,348"
23,37212,Median income,"78,720","98,828","28,073",-,"47,448",-,-,"41,458",-,"100,302"
24,37214,Median income,"63,135","65,799","61,321",-,"95,273",-,"49,425","58,313","65,363","65,836"
25,37215,Median income,"133,532","129,759","122,368",-,"137,462",-,-,"174,679","213,095","129,978"
26,37216,Median income,"70,728","84,488","40,639",-,"130,565",-,"59,634","72,466","65,549","84,548"
27,37217,Median income,"52,295","54,035","50,263",-,"70,663",-,"34,674","71,683","50,518","55,642"
28,37218,Median income,"48,619","51,580","49,139",-,-,-,-,-,"62,974","50,920"
29,37219,Median income,"91,275","89,926",-,-,-,-,-,-,-,"87,721"
30,37220,Median income,"137,976","137,637","138,506",-,-,-,-,-,-,"133,869"
31,37221,Median income,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597"
32,37228,Median income,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625"

In [41]:
census_final_df = pd.concat([census_number_df, census_percent_df, census_income_df], axis = 1)
census_final_df

,ZIP,Census Measure (Count),Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),...,Households (Median Income),White (Median Income),Black or African American (Median Income),American Indian and Alaska Native (Median Income),Asian (Median Income),Native Hawaiian and Other Pacific Islander (Median Income),Some other race (Median Income),Two or more races (Median Income),Hispanic or Latino origin (of any race) (Median Income),"White alone, not Hispanic or Latino (Median Income)"
0,37013,Number,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658",...,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070"
1,37015,Number,"7,047","6,580",153,15,0,0,93,206,...,"63,755","64,028","42,446",-,-,-,"62,689","65,855","64,942","64,049"
2,37027,Number,"21,914","19,089",855,45,"1,274",0,68,583,...,"135,284","135,509","106,003",-,"186,204",-,"165,132","146,277","134,135","135,954"
3,37072,Number,"13,324","10,030","1,967",1,224,0,454,648,...,"66,475","72,192","48,381",-,-,-,"55,455","69,357","59,125","72,898"
4,37076,Number,"16,614","11,833","3,930",2,211,0,277,361,...,"66,793","69,958","58,246",-,"71,058",-,"53,555","76,806","56,322","70,051"
5,37080,Number,"3,001","2,592",317,0,0,0,27,65,...,"68,768","63,714","103,750",-,-,-,-,-,-,"63,714"
6,37086,Number,"12,593","7,577","3,526",42,265,0,661,522,...,"65,294","66,639","63,436",-,"95,742",-,"66,556","55,424","57,885","67,442"
7,37115,Number,"17,142","8,847","6,174",140,121,0,977,883,...,"52,448","53,258","49,383","52,313","79,484",-,"48,487","65,417","60,663","53,063"
8,37122,Number,"22,563","19,442","1,324",129,406,30,395,837,...,"99,435","97,775","89,672","116,934","132,833",-,"250,000+","77,122","115,669","96,815"
9,37135,Number,"6,566","5,781",363,0,209,0,97,116,...,"131,594","129,663","157,599",-,"110,434",-,-,"168,452","151,205","128,075"
10,37138,Number,"9,527","8,173",969,0,73,0,112,200,...,"79,182","79,994","77,672",-,-,-,"76,071","84,063","75,804","80,359"
11,37143,Number,"1,443","1,396",9,12,0,0,13,13,...,"76,845","78,158",-,-,-,-,-,-,-,"77,625"
12,37189,Number,"1,655",862,771,0,0,0,0,22,...,"80,523","107,955","69,120",-,-,-,-,-,-,"109,091"
13,37201,Number,857.0,715.0,0.0,0.0,87.0,0.0,0.0,55.0,...,"95,353","96,929",-,-,-,-,-,-,-,"96,929"
14,37203,Number,"10,819","7,027","2,372",23,787,0,118,492,...,"59,406","68,784","24,083",-,"61,671",-,"197,951","60,673","68,678","69,067"
15,37204,Number,"6,632","5,233",893,0,264,0,36,206,...,"97,727","114,704","47,705",-,-,-,"46,042",-,"54,058","115,201"
16,37205,Number,"11,588","10,722",393,0,53,0,42,378,...,"120,377","121,195","53,173",-,-,-,"132,273","200,957",-,"122,456"
17,37206,Number,"12,176","8,399","2,930",21,182,64,113,467,...,"72,446","93,130","29,891",-,"189,487",-,-,-,"56,228","94,617"
18,37207,Number,"15,745","4,595","9,982",23,169,0,655,321,...,"52,827","69,366","44,709",-,"63,884",-,"58,277","50,382","58,143","69,433"
19,37208,Number,"8,114","3,129","4,490",19,106,13,80,277,...,"54,296","94,169","30,376",-,-,-,"2,500-","62,137","59,417","94,819"
20,37209,Number,"17,410","12,436","3,263",25,820,29,318,519,...,"63,287","78,379","36,028",-,"87,917",-,"35,161","47,766","27,156","80,602"
21,37210,Number,"7,154","4,208","2,119",7,422,12,176,210,...,"40,945","53,750","22,310",-,"51,543",-,"40,789","72,292","52,788","53,077"
22,37211,Number,"29,394","20,441","4,683",38,"1,686",22,"1,208","1,316",...,"61,781","64,884","58,825",-,"63,452",-,"44,125","53,095","45,786","68,348"
23,37212,Number,"6,896","5,681",465,0,509,0,20,221,...,"78,720","98,828","28,073",-,"47,448",-,-,"41,458",-,"100,302"
24,37214,Number,"14,203","10,830","2,543",0,200,0,223,407,...,"63,135","65,799","61,321",-,"95,273",-,"49,425","58,313","65,363","65,836"
25,37215,Number,"10,345","9,323",164,0,427,0,21,410,...,"133,532","129,759","122,368",-,"137,462",-,-,"174,679","213,095","129,978"
26,37216,Number,"8,572","6,301","1,888",6,126,0,94,157,...,"70,728","84,488","40,639",-,"130,565",-,"59,634","72,466","65,549","84,548"
27,37217,Number,"12,416","6,679","4,524",7,177,0,382,647,...,"52,295","54,035","50,263",-,"70,663",-,"34,674","71,683","50,518","55,642"
28,37218,Number,"5,877","1,143","4,421",0,29,0,173,111,...,"48,619","51,580","49,139",-,-,-,-,-,"62,974","50,920"
29,37219,Number,991.0,938.0,0.0,0.0,19.0,0.0,0.0,34.0,...,"91,275","89,926",-,-,-,-,-,-,-,"87,721"
30,37220,Number,"2,456","2,389",67,0,0,0,0,0,...,"137,976","137,637","138,506",-,-,-,-,-,-,"133,869"
31,37221,Number,"18,388","16,015","1,371",6,527,0,166,303,...,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597"
32,37228,Number,"1,249",496,533,0,16,33,0,171,...,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625"

In [42]:
census_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 36 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   ZIP                                                                            33 non-null     object
 1   Census Measure (Count)                                                         33 non-null     object
 2       Households (Count)                                                         33 non-null     object
 3               White (Count)                                                      33 non-null     object
 4               Black or African American (Count)                                  33 non-null     object
 5               American Indian and Alaska Native (Count)                          33 non-null     object
 6               Asian (Count)                                                      33 non-null     object
 7               Native Hawaiian and Other Pacific Islander (Count)                 33 non-null     object
 8               Some other race (Count)                                            33 non-null     object
 9           Two or more races (Count)                                              33 non-null     object
 10          Hispanic or Latino origin (of any race) (Count)                        33 non-null     object
 11          White alone, not Hispanic or Latino (Count)                            33 non-null     object
 12  ZIP                                                                            33 non-null     object
 13  Census Measure (Percent Distribution)                                          33 non-null     object
 14      Households (Percent Distribution)                                          33 non-null     object
 15              White (Percent Distribution)                                       33 non-null     object
 16              Black or African American (Percent Distribution)                   33 non-null     object
 17              American Indian and Alaska Native (Percent Distribution)           33 non-null     object
 18              Asian (Percent Distribution)                                       33 non-null     object
 19              Native Hawaiian and Other Pacific Islander (Percent Distribution)  33 non-null     object
 20              Some other race (Percent Distribution)                             33 non-null     object
 21          Two or more races (Percent Distribution)                               33 non-null     object
 22          Hispanic or Latino origin (of any race) (Percent Distribution)         33 non-null     object
 23          White alone, not Hispanic or Latino (Percent Distribution)             33 non-null     object
 24  ZIP                                                                            33 non-null     object
 25  Census Measure (Median Income)                                                 33 non-null     object
 26      Households (Median Income)                                                 33 non-null     object
 27              White (Median Income)                                              33 non-null     object
 28              Black or African American (Median Income)                          33 non-null     object
 29              American Indian and Alaska Native (Median Income)                  33 non-null     object
 30              Asian (Median Income)                                              33 non-null     object
 31              Native Hawaiian and Other Pacific Islander (Median Income)         33 non-null     object
 32              Some other race (Median Income)                                    33 non-null     object
 33          Two or more races (Median Income)                                      33 non-null     object
 34          Hispanic or Latino origin (of any race) (Median Income)                33 non-null     object
 35          White alone, not Hispanic or Latino (Median Income)                    33 non-null     object
dtypes: object(36)
memory usage: 9.4+ KB

In [49]:
census_final_clean = census_final_df.drop(census_final_df.columns[[1, 12, 13, 24, 25]], axis = 1)
# census_final_clean
census_final_clean = census_final_df.drop(census_final_df.columns[[1, 13, 25]], axis = 1)
census_final_clean

,ZIP,Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),...,Households (Median Income),White (Median Income),Black or African American (Median Income),American Indian and Alaska Native (Median Income),Asian (Median Income),Native Hawaiian and Other Pacific Islander (Median Income),Some other race (Median Income),Two or more races (Median Income),Hispanic or Latino origin (of any race) (Median Income),"White alone, not Hispanic or Latino (Median Income)"
0,37013,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971",...,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070"
1,37015,"7,047","6,580",153,15,0,0,93,206,320,...,"63,755","64,028","42,446",-,-,-,"62,689","65,855","64,942","64,049"
2,37027,"21,914","19,089",855,45,"1,274",0,68,583,542,...,"135,284","135,509","106,003",-,"186,204",-,"165,132","146,277","134,135","135,954"
3,37072,"13,324","10,030","1,967",1,224,0,454,648,801,...,"66,475","72,192","48,381",-,-,-,"55,455","69,357","59,125","72,898"
4,37076,"16,614","11,833","3,930",2,211,0,277,361,755,...,"66,793","69,958","58,246",-,"71,058",-,"53,555","76,806","56,322","70,051"
5,37080,"3,001","2,592",317,0,0,0,27,65,24,...,"68,768","63,714","103,750",-,-,-,-,-,-,"63,714"
6,37086,"12,593","7,577","3,526",42,265,0,661,522,"1,928",...,"65,294","66,639","63,436",-,"95,742",-,"66,556","55,424","57,885","67,442"
7,37115,"17,142","8,847","6,174",140,121,0,977,883,"1,938",...,"52,448","53,258","49,383","52,313","79,484",-,"48,487","65,417","60,663","53,063"
8,37122,"22,563","19,442","1,324",129,406,30,395,837,629,...,"99,435","97,775","89,672","116,934","132,833",-,"250,000+","77,122","115,669","96,815"
9,37135,"6,566","5,781",363,0,209,0,97,116,229,...,"131,594","129,663","157,599",-,"110,434",-,-,"168,452","151,205","128,075"
10,37138,"9,527","8,173",969,0,73,0,112,200,338,...,"79,182","79,994","77,672",-,-,-,"76,071","84,063","75,804","80,359"
11,37143,"1,443","1,396",9,12,0,0,13,13,35,...,"76,845","78,158",-,-,-,-,-,-,-,"77,625"
12,37189,"1,655",862,771,0,0,0,0,22,18,...,"80,523","107,955","69,120",-,-,-,-,-,-,"109,091"
13,37201,857.0,715.0,0.0,0.0,87.0,0.0,0.0,55.0,13.0,...,"95,353","96,929",-,-,-,-,-,-,-,"96,929"
14,37203,"10,819","7,027","2,372",23,787,0,118,492,568,...,"59,406","68,784","24,083",-,"61,671",-,"197,951","60,673","68,678","69,067"
15,37204,"6,632","5,233",893,0,264,0,36,206,167,...,"97,727","114,704","47,705",-,-,-,"46,042",-,"54,058","115,201"
16,37205,"11,588","10,722",393,0,53,0,42,378,315,...,"120,377","121,195","53,173",-,-,-,"132,273","200,957",-,"122,456"
17,37206,"12,176","8,399","2,930",21,182,64,113,467,315,...,"72,446","93,130","29,891",-,"189,487",-,-,-,"56,228","94,617"
18,37207,"15,745","4,595","9,982",23,169,0,655,321,"1,278",...,"52,827","69,366","44,709",-,"63,884",-,"58,277","50,382","58,143","69,433"
19,37208,"8,114","3,129","4,490",19,106,13,80,277,207,...,"54,296","94,169","30,376",-,-,-,"2,500-","62,137","59,417","94,819"
20,37209,"17,410","12,436","3,263",25,820,29,318,519,781,...,"63,287","78,379","36,028",-,"87,917",-,"35,161","47,766","27,156","80,602"
21,37210,"7,154","4,208","2,119",7,422,12,176,210,741,...,"40,945","53,750","22,310",-,"51,543",-,"40,789","72,292","52,788","53,077"
22,37211,"29,394","20,441","4,683",38,"1,686",22,"1,208","1,316","3,883",...,"61,781","64,884","58,825",-,"63,452",-,"44,125","53,095","45,786","68,348"
23,37212,"6,896","5,681",465,0,509,0,20,221,104,...,"78,720","98,828","28,073",-,"47,448",-,-,"41,458",-,"100,302"
24,37214,"14,203","10,830","2,543",0,200,0,223,407,751,...,"63,135","65,799","61,321",-,"95,273",-,"49,425","58,313","65,363","65,836"
25,37215,"10,345","9,323",164,0,427,0,21,410,154,...,"133,532","129,759","122,368",-,"137,462",-,-,"174,679","213,095","129,978"
26,37216,"8,572","6,301","1,888",6,126,0,94,157,188,...,"70,728","84,488","40,639",-,"130,565",-,"59,634","72,466","65,549","84,548"
27,37217,"12,416","6,679","4,524",7,177,0,382,647,"1,451",...,"52,295","54,035","50,263",-,"70,663",-,"34,674","71,683","50,518","55,642"
28,37218,"5,877","1,143","4,421",0,29,0,173,111,173,...,"48,619","51,580","49,139",-,-,-,-,-,"62,974","50,920"
29,37219,991.0,938.0,0.0,0.0,19.0,0.0,0.0,34.0,78.0,...,"91,275","89,926",-,-,-,-,-,-,-,"87,721"
30,37220,"2,456","2,389",67,0,0,0,0,0,26,...,"137,976","137,637","138,506",-,-,-,-,-,-,"133,869"
31,37221,"18,388","16,015","1,371",6,527,0,166,303,487,...,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597"
32,37228,"1,249",496,533,0,16,33,0,171,0,...,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625"

In [50]:
census_final_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 33 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   ZIP                                                                            33 non-null     object
 1       Households (Count)                                                         33 non-null     object
 2               White (Count)                                                      33 non-null     object
 3               Black or African American (Count)                                  33 non-null     object
 4               American Indian and Alaska Native (Count)                          33 non-null     object
 5               Asian (Count)                                                      33 non-null     object
 6               Native Hawaiian and Other Pacific Islander (Count)                 33 non-null     object
 7               Some other race (Count)                                            33 non-null     object
 8           Two or more races (Count)                                              33 non-null     object
 9           Hispanic or Latino origin (of any race) (Count)                        33 non-null     object
 10          White alone, not Hispanic or Latino (Count)                            33 non-null     object
 11  ZIP                                                                            33 non-null     object
 12      Households (Percent Distribution)                                          33 non-null     object
 13              White (Percent Distribution)                                       33 non-null     object
 14              Black or African American (Percent Distribution)                   33 non-null     object
 15              American Indian and Alaska Native (Percent Distribution)           33 non-null     object
 16              Asian (Percent Distribution)                                       33 non-null     object
 17              Native Hawaiian and Other Pacific Islander (Percent Distribution)  33 non-null     object
 18              Some other race (Percent Distribution)                             33 non-null     object
 19          Two or more races (Percent Distribution)                               33 non-null     object
 20          Hispanic or Latino origin (of any race) (Percent Distribution)         33 non-null     object
 21          White alone, not Hispanic or Latino (Percent Distribution)             33 non-null     object
 22  ZIP                                                                            33 non-null     object
 23      Households (Median Income)                                                 33 non-null     object
 24              White (Median Income)                                              33 non-null     object
 25              Black or African American (Median Income)                          33 non-null     object
 26              American Indian and Alaska Native (Median Income)                  33 non-null     object
 27              Asian (Median Income)                                              33 non-null     object
 28              Native Hawaiian and Other Pacific Islander (Median Income)         33 non-null     object
 29              Some other race (Median Income)                                    33 non-null     object
 30          Two or more races (Median Income)                                      33 non-null     object
 31          Hispanic or Latino origin (of any race) (Median Income)                33 non-null     object
 32          White alone, not Hispanic or Latino (Median Income)                    33 non-null     object
dtypes: object(33)
memory usage: 8.6+ KB

In [51]:
census_final_clean.columns.values[11] = 'Zip 2'
census_final_clean.columns.values[22] = 'Zip 3'
census_final_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 33 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   ZIP                                                                            33 non-null     object
 1       Households (Count)                                                         33 non-null     object
 2               White (Count)                                                      33 non-null     object
 3               Black or African American (Count)                                  33 non-null     object
 4               American Indian and Alaska Native (Count)                          33 non-null     object
 5               Asian (Count)                                                      33 non-null     object
 6               Native Hawaiian and Other Pacific Islander (Count)                 33 non-null     object
 7               Some other race (Count)                                            33 non-null     object
 8           Two or more races (Count)                                              33 non-null     object
 9           Hispanic or Latino origin (of any race) (Count)                        33 non-null     object
 10          White alone, not Hispanic or Latino (Count)                            33 non-null     object
 11  Zip 2                                                                          33 non-null     object
 12      Households (Percent Distribution)                                          33 non-null     object
 13              White (Percent Distribution)                                       33 non-null     object
 14              Black or African American (Percent Distribution)                   33 non-null     object
 15              American Indian and Alaska Native (Percent Distribution)           33 non-null     object
 16              Asian (Percent Distribution)                                       33 non-null     object
 17              Native Hawaiian and Other Pacific Islander (Percent Distribution)  33 non-null     object
 18              Some other race (Percent Distribution)                             33 non-null     object
 19          Two or more races (Percent Distribution)                               33 non-null     object
 20          Hispanic or Latino origin (of any race) (Percent Distribution)         33 non-null     object
 21          White alone, not Hispanic or Latino (Percent Distribution)             33 non-null     object
 22  Zip 3                                                                          33 non-null     object
 23      Households (Median Income)                                                 33 non-null     object
 24              White (Median Income)                                              33 non-null     object
 25              Black or African American (Median Income)                          33 non-null     object
 26              American Indian and Alaska Native (Median Income)                  33 non-null     object
 27              Asian (Median Income)                                              33 non-null     object
 28              Native Hawaiian and Other Pacific Islander (Median Income)         33 non-null     object
 29              Some other race (Median Income)                                    33 non-null     object
 30          Two or more races (Median Income)                                      33 non-null     object
 31          Hispanic or Latino origin (of any race) (Median Income)                33 non-null     object
 32          White alone, not Hispanic or Latino (Median Income)                    33 non-null     object
dtypes: object(33)
memory usage: 8.6+ KB

In [52]:
census_final_clean = census_final_clean.drop(labels = ['Zip 2', 'Zip 3'], axis = 1)
census_final_clean

,ZIP,Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),...,Households (Median Income),White (Median Income),Black or African American (Median Income),American Indian and Alaska Native (Median Income),Asian (Median Income),Native Hawaiian and Other Pacific Islander (Median Income),Some other race (Median Income),Two or more races (Median Income),Hispanic or Latino origin (of any race) (Median Income),"White alone, not Hispanic or Latino (Median Income)"
0,37013,"35,483","16,986","14,101",90,"1,413",0,"1,235","1,658","3,971",...,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070"
1,37015,"7,047","6,580",153,15,0,0,93,206,320,...,"63,755","64,028","42,446",-,-,-,"62,689","65,855","64,942","64,049"
2,37027,"21,914","19,089",855,45,"1,274",0,68,583,542,...,"135,284","135,509","106,003",-,"186,204",-,"165,132","146,277","134,135","135,954"
3,37072,"13,324","10,030","1,967",1,224,0,454,648,801,...,"66,475","72,192","48,381",-,-,-,"55,455","69,357","59,125","72,898"
4,37076,"16,614","11,833","3,930",2,211,0,277,361,755,...,"66,793","69,958","58,246",-,"71,058",-,"53,555","76,806","56,322","70,051"
5,37080,"3,001","2,592",317,0,0,0,27,65,24,...,"68,768","63,714","103,750",-,-,-,-,-,-,"63,714"
6,37086,"12,593","7,577","3,526",42,265,0,661,522,"1,928",...,"65,294","66,639","63,436",-,"95,742",-,"66,556","55,424","57,885","67,442"
7,37115,"17,142","8,847","6,174",140,121,0,977,883,"1,938",...,"52,448","53,258","49,383","52,313","79,484",-,"48,487","65,417","60,663","53,063"
8,37122,"22,563","19,442","1,324",129,406,30,395,837,629,...,"99,435","97,775","89,672","116,934","132,833",-,"250,000+","77,122","115,669","96,815"
9,37135,"6,566","5,781",363,0,209,0,97,116,229,...,"131,594","129,663","157,599",-,"110,434",-,-,"168,452","151,205","128,075"
10,37138,"9,527","8,173",969,0,73,0,112,200,338,...,"79,182","79,994","77,672",-,-,-,"76,071","84,063","75,804","80,359"
11,37143,"1,443","1,396",9,12,0,0,13,13,35,...,"76,845","78,158",-,-,-,-,-,-,-,"77,625"
12,37189,"1,655",862,771,0,0,0,0,22,18,...,"80,523","107,955","69,120",-,-,-,-,-,-,"109,091"
13,37201,857.0,715.0,0.0,0.0,87.0,0.0,0.0,55.0,13.0,...,"95,353","96,929",-,-,-,-,-,-,-,"96,929"
14,37203,"10,819","7,027","2,372",23,787,0,118,492,568,...,"59,406","68,784","24,083",-,"61,671",-,"197,951","60,673","68,678","69,067"
15,37204,"6,632","5,233",893,0,264,0,36,206,167,...,"97,727","114,704","47,705",-,-,-,"46,042",-,"54,058","115,201"
16,37205,"11,588","10,722",393,0,53,0,42,378,315,...,"120,377","121,195","53,173",-,-,-,"132,273","200,957",-,"122,456"
17,37206,"12,176","8,399","2,930",21,182,64,113,467,315,...,"72,446","93,130","29,891",-,"189,487",-,-,-,"56,228","94,617"
18,37207,"15,745","4,595","9,982",23,169,0,655,321,"1,278",...,"52,827","69,366","44,709",-,"63,884",-,"58,277","50,382","58,143","69,433"
19,37208,"8,114","3,129","4,490",19,106,13,80,277,207,...,"54,296","94,169","30,376",-,-,-,"2,500-","62,137","59,417","94,819"
20,37209,"17,410","12,436","3,263",25,820,29,318,519,781,...,"63,287","78,379","36,028",-,"87,917",-,"35,161","47,766","27,156","80,602"
21,37210,"7,154","4,208","2,119",7,422,12,176,210,741,...,"40,945","53,750","22,310",-,"51,543",-,"40,789","72,292","52,788","53,077"
22,37211,"29,394","20,441","4,683",38,"1,686",22,"1,208","1,316","3,883",...,"61,781","64,884","58,825",-,"63,452",-,"44,125","53,095","45,786","68,348"
23,37212,"6,896","5,681",465,0,509,0,20,221,104,...,"78,720","98,828","28,073",-,"47,448",-,-,"41,458",-,"100,302"
24,37214,"14,203","10,830","2,543",0,200,0,223,407,751,...,"63,135","65,799","61,321",-,"95,273",-,"49,425","58,313","65,363","65,836"
25,37215,"10,345","9,323",164,0,427,0,21,410,154,...,"133,532","129,759","122,368",-,"137,462",-,-,"174,679","213,095","129,978"
26,37216,"8,572","6,301","1,888",6,126,0,94,157,188,...,"70,728","84,488","40,639",-,"130,565",-,"59,634","72,466","65,549","84,548"
27,37217,"12,416","6,679","4,524",7,177,0,382,647,"1,451",...,"52,295","54,035","50,263",-,"70,663",-,"34,674","71,683","50,518","55,642"
28,37218,"5,877","1,143","4,421",0,29,0,173,111,173,...,"48,619","51,580","49,139",-,-,-,-,-,"62,974","50,920"
29,37219,991.0,938.0,0.0,0.0,19.0,0.0,0.0,34.0,78.0,...,"91,275","89,926",-,-,-,-,-,-,-,"87,721"
30,37220,"2,456","2,389",67,0,0,0,0,0,26,...,"137,976","137,637","138,506",-,-,-,-,-,-,"133,869"
31,37221,"18,388","16,015","1,371",6,527,0,166,303,487,...,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597"
32,37228,"1,249",496,533,0,16,33,0,171,0,...,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625"

In [53]:
census_final_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 31 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   ZIP                                                                            33 non-null     object
 1       Households (Count)                                                         33 non-null     object
 2               White (Count)                                                      33 non-null     object
 3               Black or African American (Count)                                  33 non-null     object
 4               American Indian and Alaska Native (Count)                          33 non-null     object
 5               Asian (Count)                                                      33 non-null     object
 6               Native Hawaiian and Other Pacific Islander (Count)                 33 non-null     object
 7               Some other race (Count)                                            33 non-null     object
 8           Two or more races (Count)                                              33 non-null     object
 9           Hispanic or Latino origin (of any race) (Count)                        33 non-null     object
 10          White alone, not Hispanic or Latino (Count)                            33 non-null     object
 11      Households (Percent Distribution)                                          33 non-null     object
 12              White (Percent Distribution)                                       33 non-null     object
 13              Black or African American (Percent Distribution)                   33 non-null     object
 14              American Indian and Alaska Native (Percent Distribution)           33 non-null     object
 15              Asian (Percent Distribution)                                       33 non-null     object
 16              Native Hawaiian and Other Pacific Islander (Percent Distribution)  33 non-null     object
 17              Some other race (Percent Distribution)                             33 non-null     object
 18          Two or more races (Percent Distribution)                               33 non-null     object
 19          Hispanic or Latino origin (of any race) (Percent Distribution)         33 non-null     object
 20          White alone, not Hispanic or Latino (Percent Distribution)             33 non-null     object
 21      Households (Median Income)                                                 33 non-null     object
 22              White (Median Income)                                              33 non-null     object
 23              Black or African American (Median Income)                          33 non-null     object
 24              American Indian and Alaska Native (Median Income)                  33 non-null     object
 25              Asian (Median Income)                                              33 non-null     object
 26              Native Hawaiian and Other Pacific Islander (Median Income)         33 non-null     object
 27              Some other race (Median Income)                                    33 non-null     object
 28          Two or more races (Median Income)                                      33 non-null     object
 29          Hispanic or Latino origin (of any race) (Median Income)                33 non-null     object
 30          White alone, not Hispanic or Latino (Median Income)                    33 non-null     object
dtypes: object(31)
memory usage: 8.1+ KB

In [54]:
census_final_clean.to_csv('census_cleaned.csv', index = False)