In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime, timedelta, date

In [2]:
requests = pd.read_csv('../data/requests_clean.csv')
requests

/var/folders/46/zm0dtt4s22d760_6ml4_t_vr0000gn/T/ipykernel_89650/2858422078.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  requests = pd.read_csv('../data/requests_clean.csv')

,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,System of Origin ID,Contact Type,...,City,Council District,ZIP,Latitude,Longitude,Mapped Location,Time to Resolve,Hours to Resolve,Days to Resolve,Year of Request
0,966190,Closed,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,Resolved by hubNashville on First Call,2022-05-04 17:54:30,2022-05-04 17:54:30,Phone,NaN,NaN,...,MADISON,8,37115,36.271880,-86.717549,"(36.2718801, -86.7175492)",0 days 00:00:00,0.000000,0.000000,2022
1,932934,Closed,Public Safety,Abandoned Vehicles,Abandoned Vehicles,2022-04-01 21:01:39,2022-04-05 11:29:54,Phone,NaN,NaN,...,NASHVILLE,3,37207,36.257270,-86.763690,"(36.25727, -86.76369)",3 days 14:28:15,86.470833,3.602951,2022
2,932939,Closed,"Trash, Recycling & Litter",Cart Service,Trash - Report a Damaged Cart,2022-04-01 21:04:50,2022-04-06 20:14:15,Phone,NaN,NaN,...,ANTIOCH,33,37013,36.080968,-86.602406,"(36.080968, -86.602406)",4 days 23:09:25,119.156944,4.964873,2022
3,932938,Closed,Public Safety,Request Non-Emergency Police Assistance,NaN,2022-04-01 21:03:10,2022-04-01 22:04:31,Phone,NaN,NaN,...,NASHVILLE,19,37203,36.160740,-86.777260,"(36.16074, -86.77726)",0 days 01:01:21,1.022500,0.042604,2022
4,932943,Closed,Public Safety,Request Non-Emergency Police Assistance,NaN,2022-04-01 21:08:39,2022-04-01 23:49:34,Phone,NaN,NaN,...,HERMITAGE,14,37076,36.189786,-86.631410,"(36.1897858, -86.6314104)",0 days 02:40:55,2.681944,0.111748,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724835,525002,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2020-12-16 16:19:54,2022-11-03 16:36:08,hubNashville Community,NaN,NaN,...,NASHVILLE,2.0,37208,36.188885,-86.813695,"(36.1888853116179, -86.81369450000001)",687 days 00:16:14,16488.270556,687.011273,2020
724836,523996,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2020-12-15 14:37:37,2022-11-03 16:36:08,Phone,NaN,NaN,...,NASHVILLE,18.0,37203,36.145660,-86.810011,"(36.14566, -86.8100105)",688 days 01:58:31,16513.975278,688.082303,2020
724837,522868,Closed,"Trash, Recycling & Litter",Illegal Dumping,Roadway,2020-12-14 01:53:25,2022-11-28 16:49:10,hubNashville Community,NaN,NaN,...,HERMITAGE,12.0,37076,36.154550,-86.587390,"(36.1545500234489, -86.58738988758411)",714 days 14:55:45,17150.929167,714.622049,2020
724838,521163,Closed,"Streets, Roads & Sidewalks",Damaged Sign,Damaged Sign,2020-12-10 16:55:14,2022-11-03 18:47:04,Mobile App,NaN,NaN,...,NASHVILLE,24.0,37209,36.152191,-86.842668,"(36.15219084106823, -86.84266816824675)",693 days 01:51:50,16633.863889,693.077662,2020
724839,521467,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2020-12-10 21:07:50,2022-11-03 16:35:36,Phone,NaN,NaN,...,MADISON,10.0,37115,36.293827,-86.696448,"(36.2938275, -86.69644819999999)",692 days 19:27:46,16627.462778,692.810949,2020

In [3]:
census = pd.read_csv('../data/census_cleaned.csv')
census

,ZIP,Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),...,Households (Median Income),White (Median Income),Black or African American (Median Income),American Indian and Alaska Native (Median Income),Asian (Median Income),Native Hawaiian and Other Pacific Islander (Median Income),Some other race (Median Income),Two or more races (Median Income),Hispanic or Latino origin (of any race) (Median Income),"White alone, not Hispanic or Latino (Median Income)"
0,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,"61,801","63,205","61,172","109,464","53,142",-,"54,119","62,384","54,319","64,070"
1,37015,"7,047","6,580",153,15.0,0,0.0,93,206,320,...,"63,755","64,028","42,446",-,-,-,"62,689","65,855","64,942","64,049"
2,37027,"21,914","19,089",855,45.0,"1,274",0.0,68,583,542,...,"135,284","135,509","106,003",-,"186,204",-,"165,132","146,277","134,135","135,954"
3,37072,"13,324","10,030","1,967",1.0,224,0.0,454,648,801,...,"66,475","72,192","48,381",-,-,-,"55,455","69,357","59,125","72,898"
4,37076,"16,614","11,833","3,930",2.0,211,0.0,277,361,755,...,"66,793","69,958","58,246",-,"71,058",-,"53,555","76,806","56,322","70,051"
5,37080,"3,001","2,592",317,0.0,0,0.0,27,65,24,...,"68,768","63,714","103,750",-,-,-,-,-,-,"63,714"
6,37086,"12,593","7,577","3,526",42.0,265,0.0,661,522,"1,928",...,"65,294","66,639","63,436",-,"95,742",-,"66,556","55,424","57,885","67,442"
7,37115,"17,142","8,847","6,174",140.0,121,0.0,977,883,"1,938",...,"52,448","53,258","49,383","52,313","79,484",-,"48,487","65,417","60,663","53,063"
8,37122,"22,563","19,442","1,324",129.0,406,30.0,395,837,629,...,"99,435","97,775","89,672","116,934","132,833",-,"250,000+","77,122","115,669","96,815"
9,37135,"6,566","5,781",363,0.0,209,0.0,97,116,229,...,"131,594","129,663","157,599",-,"110,434",-,-,"168,452","151,205","128,075"
10,37138,"9,527","8,173",969,0.0,73,0.0,112,200,338,...,"79,182","79,994","77,672",-,-,-,"76,071","84,063","75,804","80,359"
11,37143,"1,443","1,396",9,12.0,0,0.0,13,13,35,...,"76,845","78,158",-,-,-,-,-,-,-,"77,625"
12,37189,"1,655",862,771,0.0,0,0.0,0,22,18,...,"80,523","107,955","69,120",-,-,-,-,-,-,"109,091"
13,37201,857.0,715.0,0.0,0.0,87.0,0.0,0.0,55.0,13.0,...,"95,353","96,929",-,-,-,-,-,-,-,"96,929"
14,37203,"10,819","7,027","2,372",23.0,787,0.0,118,492,568,...,"59,406","68,784","24,083",-,"61,671",-,"197,951","60,673","68,678","69,067"
15,37204,"6,632","5,233",893,0.0,264,0.0,36,206,167,...,"97,727","114,704","47,705",-,-,-,"46,042",-,"54,058","115,201"
16,37205,"11,588","10,722",393,0.0,53,0.0,42,378,315,...,"120,377","121,195","53,173",-,-,-,"132,273","200,957",-,"122,456"
17,37206,"12,176","8,399","2,930",21.0,182,64.0,113,467,315,...,"72,446","93,130","29,891",-,"189,487",-,-,-,"56,228","94,617"
18,37207,"15,745","4,595","9,982",23.0,169,0.0,655,321,"1,278",...,"52,827","69,366","44,709",-,"63,884",-,"58,277","50,382","58,143","69,433"
19,37208,"8,114","3,129","4,490",19.0,106,13.0,80,277,207,...,"54,296","94,169","30,376",-,-,-,"2,500-","62,137","59,417","94,819"
20,37209,"17,410","12,436","3,263",25.0,820,29.0,318,519,781,...,"63,287","78,379","36,028",-,"87,917",-,"35,161","47,766","27,156","80,602"
21,37210,"7,154","4,208","2,119",7.0,422,12.0,176,210,741,...,"40,945","53,750","22,310",-,"51,543",-,"40,789","72,292","52,788","53,077"
22,37211,"29,394","20,441","4,683",38.0,"1,686",22.0,"1,208","1,316","3,883",...,"61,781","64,884","58,825",-,"63,452",-,"44,125","53,095","45,786","68,348"
23,37212,"6,896","5,681",465,0.0,509,0.0,20,221,104,...,"78,720","98,828","28,073",-,"47,448",-,-,"41,458",-,"100,302"
24,37214,"14,203","10,830","2,543",0.0,200,0.0,223,407,751,...,"63,135","65,799","61,321",-,"95,273",-,"49,425","58,313","65,363","65,836"
25,37215,"10,345","9,323",164,0.0,427,0.0,21,410,154,...,"133,532","129,759","122,368",-,"137,462",-,-,"174,679","213,095","129,978"
26,37216,"8,572","6,301","1,888",6.0,126,0.0,94,157,188,...,"70,728","84,488","40,639",-,"130,565",-,"59,634","72,466","65,549","84,548"
27,37217,"12,416","6,679","4,524",7.0,177,0.0,382,647,"1,451",...,"52,295","54,035","50,263",-,"70,663",-,"34,674","71,683","50,518","55,642"
28,37218,"5,877","1,143","4,421",0.0,29,0.0,173,111,173,...,"48,619","51,580","49,139",-,-,-,-,-,"62,974","50,920"
29,37219,991.0,938.0,0.0,0.0,19.0,0.0,0.0,34.0,78.0,...,"91,275","89,926",-,-,-,-,-,-,-,"87,721"
30,37220,"2,456","2,389",67,0.0,0,0.0,0,0,26,...,"137,976","137,637","138,506",-,-,-,-,-,-,"133,869"
31,37221,"18,388","16,015","1,371",6.0,527,0.0,166,303,487,...,"90,660","89,964","93,036",-,"130,938",-,-,"83,307","60,739","90,597"
32,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,"50,579","60,625","28,063",-,-,-,-,-,-,"60,625"

In [4]:
requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724840 entries, 0 to 724839
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Request #                   724840 non-null  int64
 1   Status                      724840 non-null  object
 2   Request Type                724832 non-null  object
 3   Subrequest Type             724514 non-null  object
 4   Additional Subrequest Type  689167 non-null  object
 5   Date / Time Opened          724840 non-null  object
 6   Date / Time Closed          713241 non-null  object
 7   Request Origin              724840 non-null  object
 8   System of Origin ID         39095 non-null   object
 9   Contact Type                28798 non-null   object
 10  Preferred Language          0 non-null       float64
 11  State Issue                 724840 non-null  bool
 12  Parent Request              10561 non-null   float64
 13  Closed When Created         724840 non-null  bool
 14  Address                     723369 non-null  object
 15  City                        724692 non-null  object
 16  Council District            724215 non-null  object
 17  ZIP                         724840 non-null  int64
 18  Latitude                    724380 non-null  float64
 19  Longitude                   724380 non-null  float64
 20  Mapped Location             724380 non-null  object
 21  Time to Resolve             713241 non-null  object
 22  Hours to Resolve            713241 non-null  float64
 23  Days to Resolve             713241 non-null  float64
 24  Year of Request             724840 non-null  int64
dtypes: bool(2), float64(6), int64(3), object(14)
memory usage: 128.6+ MB

In [5]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 31 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   ZIP                                                                            33 non-null     int64
 1       Households (Count)                                                         33 non-null     object
 2               White (Count)                                                      33 non-null     object
 3               Black or African American (Count)                                  33 non-null     object
 4               American Indian and Alaska Native (Count)                          33 non-null     float64
 5               Asian (Count)                                                      33 non-null     object
 6               Native Hawaiian and Other Pacific Islander (Count)                 33 non-null     float64
 7               Some other race (Count)                                            33 non-null     object
 8           Two or more races (Count)                                              33 non-null     object
 9           Hispanic or Latino origin (of any race) (Count)                        33 non-null     object
 10          White alone, not Hispanic or Latino (Count)                            33 non-null     object
 11      Households (Percent Distribution)                                          33 non-null     object
 12              White (Percent Distribution)                                       33 non-null     object
 13              Black or African American (Percent Distribution)                   33 non-null     object
 14              American Indian and Alaska Native (Percent Distribution)           33 non-null     object
 15              Asian (Percent Distribution)                                       33 non-null     object
 16              Native Hawaiian and Other Pacific Islander (Percent Distribution)  33 non-null     object
 17              Some other race (Percent Distribution)                             33 non-null     object
 18          Two or more races (Percent Distribution)                               33 non-null     object
 19          Hispanic or Latino origin (of any race) (Percent Distribution)         33 non-null     object
 20          White alone, not Hispanic or Latino (Percent Distribution)             33 non-null     object
 21      Households (Median Income)                                                 33 non-null     object
 22              White (Median Income)                                              33 non-null     object
 23              Black or African American (Median Income)                          33 non-null     object
 24              American Indian and Alaska Native (Median Income)                  33 non-null     object
 25              Asian (Median Income)                                              33 non-null     object
 26              Native Hawaiian and Other Pacific Islander (Median Income)         33 non-null     object
 27              Some other race (Median Income)                                    33 non-null     object
 28          Two or more races (Median Income)                                      33 non-null     object
 29          Hispanic or Latino origin (of any race) (Median Income)                33 non-null     object
 30          White alone, not Hispanic or Latino (Median Income)                    33 non-null     object
dtypes: float64(2), int64(1), object(28)
memory usage: 8.1+ KB

In [6]:
requests_census = pd.merge(census, requests, on=['ZIP'], how='left')
requests_census

,ZIP,Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),...,Address,City,Council District,Latitude,Longitude,Mapped Location,Time to Resolve,Hours to Resolve,Days to Resolve,Year of Request
0,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,3613 Wells Ct,ANTIOCH,33,36.080968,-86.602406,"(36.080968, -86.602406)",4 days 23:09:25,119.156944,4.964873,2022
1,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,2371 Una Antioch Pike,ANTIOCH,28,36.072191,-86.664342,"(36.07219072, -86.66434192)",2 days 16:16:00,64.266667,2.677778,2021
2,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,109 Grovedale Trace,ANTIOCH,33,36.050526,-86.606362,"(36.05052579, -86.60636223)",35 days 15:25:00,855.416667,35.642361,2021
3,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,3005 W Towne Village Ct,ANTIOCH,29,36.073930,-86.609670,"(36.07393, -86.60967)",7 days 00:04:00,168.066667,7.002778,2021
4,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,5045 Mountain Springs Rd,ANTIOCH,32,36.044549,-86.612186,"(36.0445494, -86.6121858)",1 days 04:29:00,28.483333,1.186806,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722021,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,1927 5th Ave N,NASHVILLE,21.0,36.187059,-86.797371,"(36.187058700238445, -86.7973711900413)",0 days 00:00:00,0.000000,0.000000,2022
722022,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,Great Circle Rd & Rosa L Parks Blvd,NASHVILLE,2.0,36.193622,-86.806912,"(36.19362231161992, -86.80691239999999)",NaN,NaN,NaN,2018
722023,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,2014 Rosa L Parks Blvd,NASHVILLE,2.0,36.187579,-86.800050,"(36.1875790690887, -86.8000497110188)",67 days 05:44:04,1613.734444,67.238935,2022
722024,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,101 Athens Way,NASHVILLE,2.0,36.198301,-86.798659,"(36.1983009, -86.7986588)",0 days 00:00:00,0.000000,0.000000,2022
722025,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,339 Athens Way,NASHVILLE,2.0,36.190231,-86.802281,"(36.19023130000001, -86.8022806)",0 days 00:00:00,0.000000,0.000000,2022

In [7]:
requests_census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 722026 entries, 0 to 722025
Data columns (total 55 columns):
 #   Column                                                                         Non-Null Count   Dtype
---  ------                                                                         --------------   -----
 0   ZIP                                                                            722026 non-null  int64
 1       Households (Count)                                                         722026 non-null  object
 2               White (Count)                                                      722026 non-null  object
 3               Black or African American (Count)                                  722026 non-null  object
 4               American Indian and Alaska Native (Count)                          722026 non-null  float64
 5               Asian (Count)                                                      722026 non-null  object
 6               Native Hawaiian and Other Pacific Islander (Count)                 722026 non-null  float64
 7               Some other race (Count)                                            722026 non-null  object
 8           Two or more races (Count)                                              722026 non-null  object
 9           Hispanic or Latino origin (of any race) (Count)                        722026 non-null  object
 10          White alone, not Hispanic or Latino (Count)                            722026 non-null  object
 11      Households (Percent Distribution)                                          722026 non-null  object
 12              White (Percent Distribution)                                       722026 non-null  object
 13              Black or African American (Percent Distribution)                   722026 non-null  object
 14              American Indian and Alaska Native (Percent Distribution)           722026 non-null  object
 15              Asian (Percent Distribution)                                       722026 non-null  object
 16              Native Hawaiian and Other Pacific Islander (Percent Distribution)  722026 non-null  object
 17              Some other race (Percent Distribution)                             722026 non-null  object
 18          Two or more races (Percent Distribution)                               722026 non-null  object
 19          Hispanic or Latino origin (of any race) (Percent Distribution)         722026 non-null  object
 20          White alone, not Hispanic or Latino (Percent Distribution)             722026 non-null  object
 21      Households (Median Income)                                                 722026 non-null  object
 22              White (Median Income)                                              722026 non-null  object
 23              Black or African American (Median Income)                          722026 non-null  object
 24              American Indian and Alaska Native (Median Income)                  722026 non-null  object
 25              Asian (Median Income)                                              722026 non-null  object
 26              Native Hawaiian and Other Pacific Islander (Median Income)         722026 non-null  object
 27              Some other race (Median Income)                                    722026 non-null  object
 28          Two or more races (Median Income)                                      722026 non-null  object
 29          Hispanic or Latino origin (of any race) (Median Income)                722026 non-null  object
 30          White alone, not Hispanic or Latino (Median Income)                    722026 non-null  object
 31  Request #                                                                      722026 non-null  int64
 32  Status                                                                         722026 non-null  object
 33  Request Type                                                                   722018 non-null  object
 34  Subrequest Type                                                                721700 non-null  object
 35  Additional Subrequest Type                                                     686587 non-null  object
 36  Date / Time Opened                                                             722026 non-null  object
 37  Date / Time Closed                                                             710463 non-null  object
 38  Request Origin                                                                 722026 non-null  object
 39  System of Origin ID                                                            38681 non-null   object
 40  Contact Type                                                                   28729 non-null   object
 41  Preferred Language                                                             0 non-null       float64
 42  State Issue                                                                    722026 non-null  bool
 43  Parent Request                                                                 10551 non-null   float64
 44  Closed When Created                                                            722026 non-null  bool
 45  Address                                                                        720571 non-null  object
 46  City                                                                           721909 non-null  object
 47  Council District                                                               721435 non-null  object
 48  Latitude                                                                       721573 non-null  float64
 49  Longitude                                                                      721573 non-null  float64
 50  Mapped Location                                                                721573 non-null  object
 51  Time to Resolve                                                                710463 non-null  object
 52  Hours to Resolve                                                               710463 non-null  float64
 53  Days to Resolve                                                                710463 non-null  float64
 54  Year of Request                                                                722026 non-null  int64
dtypes: bool(2), float64(8), int64(3), object(42)
memory usage: 298.8+ MB

In [8]:
requests_census[requests_census['Subrequest Type'] == 'Potholes'].groupby('ZIP')['Days to Resolve'].mean().sort_values(ascending = False)

ZIP
37135    49.421422
37143    41.767834
37206    30.949748
37076    27.982585
37212    25.218116
37216    23.782113
37086    22.202915
37209    22.135193
37138    21.983650
37204    20.719255
37207    20.274016
37203    19.850229
37201    19.118516
37013    18.574628
37215    18.212963
37211    17.918119
37115    17.355989
37221    17.288865
37228    16.218663
37214    16.125197
37027    16.100073
37217    15.979420
37210    15.459752
37219    15.387633
37080    15.375169
37220    14.998005
37208    14.582624
37205    10.608948
37072     9.450680
37189     9.107567
37218     8.769320
37015     3.555171
37122     3.055503
Name: Days to Resolve, dtype: float64

In [9]:
requests_census['Subrequest Type'].value_counts()

Cart Service                              88752
Missed Pickup - Trash Cart Service        80753
Control Number Request for Towing         51313
Missed Pickup - Recycle Cart Service      40409
Resolved by hubNashville on First Call    37499
                                          ...
Head Start                                    1
MTA Bus Shooting                              1
Library Locations                             1
Request to Council Member                     1
Food for Elderly                              1
Name: Subrequest Type, Length: 239, dtype: int64

In [10]:
requests_census['ZIP'].value_counts()

37013    68662
37211    65905
37209    59194
37207    50040
37206    48384
37208    40019
37203    35983
37115    35596
37214    32954
37205    30777
37217    29445
37215    27150
37216    26786
37210    25809
37212    20749
37204    20628
37218    20541
37076    15676
37221    12339
37219    11753
37027     8339
37201     7515
37138     7457
37220     6579
37072     5084
37189     3506
37080     2163
37228     1292
37135      484
37086      396
37015      345
37143      247
37122      229
Name: ZIP, dtype: int64

In [11]:
requests_census['Neighborhood'] = ''

for ind, row in requests_census.iterrows():
    if row['ZIP'] == 37013:
        requests_census.loc[ind, 'Neighborhood'] = 'Antioch / Cane Ridge'
    elif row['ZIP'] == 37211:
        requests_census.loc[ind, 'Neighborhood'] = 'Bradford Hills / Brentioch / Cane Ridge / Crieve Hall'
    elif row['ZIP'] == 37209:
        requests_census.loc[ind, 'Neighborhood'] = 'Charlotte Park / Sylvan Heights / Sylvan Park / The Nations'
    elif row['ZIP'] == 37207:
        requests_census.loc[ind, 'Neighborhood'] = 'North Nashville / Dickerson Pike'
    elif row['ZIP'] == 37206:
        requests_census.loc[ind, 'Neighborhood'] = 'East Nashville / Lockeland Springs'
    elif row['ZIP'] == 37208:
        requests_census.loc[ind, 'Neighborhood'] = 'Germantown'
    elif row['ZIP'] == 37203:
        requests_census.loc[ind, 'Neighborhood'] = 'Edgehill / Music Row / The Gulch / West End Circle / Wedgewood'
    elif row['ZIP'] == 37115:
        requests_census.loc[ind, 'Neighborhood'] = 'Madison'
    elif row['ZIP'] == 37214:
        requests_census.loc[ind, 'Neighborhood'] = 'Airport / Donelson'
    elif row['ZIP'] == 37205:
        requests_census.loc[ind, 'Neighborhood'] = 'Belle Meade / West End / West Meade'
    elif row['ZIP'] == 37217:
        requests_census.loc[ind, 'Neighborhood'] = 'Briley Parkway / Edge-o-Lake / Priest Lake'
    elif row['ZIP'] == 37215:
        requests_census.loc[ind, 'Neighborhood'] = 'Belle Meade / Forest Hills / Green Hills'
    elif row['ZIP'] == 37216:
        requests_census.loc[ind, 'Neighborhood'] = 'Inglewood'
    elif row['ZIP'] == 37210:
        requests_census.loc[ind, 'Neighborhood'] = 'Briley Parkway / South Nashville / Spence Lane / Sterling Heights / Woodbine'
    elif row['ZIP'] == 37212:
        requests_census.loc[ind, 'Neighborhood'] = 'Belmont / Hillsboro Village / Music Row / Vanderbilt'
    elif row['ZIP'] == 37204:
        requests_census.loc[ind, 'Neighborhood'] = '12 South / Belmont / Lipscomb / Green Hills / Oak Hill / Edgehill'
    elif row['ZIP'] == 37218:
        requests_census.loc[ind, 'Neighborhood'] = 'Bordeaux'
    elif row['ZIP'] == 37076:
        requests_census.loc[ind, 'Neighborhood'] = 'Hermitage'
    elif row['ZIP'] == 37221:
        requests_census.loc[ind, 'Neighborhood'] = 'Bellevue'
    elif row['ZIP'] == 37219:
        requests_census.loc[ind, 'Neighborhood'] = 'Central Business District / Downtown'
    elif row['ZIP'] == 37027:
        requests_census.loc[ind, 'Neighborhood'] = 'Brentwood'
    elif row['ZIP'] == 37201:
        requests_census.loc[ind, 'Neighborhood'] = 'Downtown Nashville'
    elif row['ZIP'] == 37138:
        requests_census.loc[ind, 'Neighborhood'] = 'Old Hickory'
    elif row['ZIP'] == 37220:
        requests_census.loc[ind, 'Neighborhood'] = 'Crieve Hall / North Brentwood / Oak Hill'
    elif row['ZIP'] == 37072:
        requests_census.loc[ind, 'Neighborhood'] = 'Goodlettsville'
    elif row['ZIP'] == 37189:
        requests_census.loc[ind, 'Neighborhood'] = 'Whites Creek'
    elif row['ZIP'] == 37080:
        requests_census.loc[ind, 'Neighborhood'] = 'Joelton'
    elif row['ZIP'] == 37228:
        requests_census.loc[ind, 'Neighborhood'] = 'Metrocenter'
    elif row['ZIP'] == 37135:
        requests_census.loc[ind, 'Neighborhood'] = 'Nolensville'
    elif row['ZIP'] == 37086:
        requests_census.loc[ind, 'Neighborhood'] = 'LaVergne'
    elif row['ZIP'] == 37015:
        requests_census.loc[ind, 'Neighborhood'] = 'Ashland City'
    elif row['ZIP'] == 37143:
        requests_census.loc[ind, 'Neighborhood'] = 'Pegram'
    elif row['ZIP'] == 37122:
        requests_census.loc[ind, 'Neighborhood'] = 'Mt Juliet / Gladeville'
    else:
        requests_census.loc[ind, 'Neighborhood'] = 'Other'

requests_census

,ZIP,Households (Count),White (Count),Black or African American (Count),American Indian and Alaska Native (Count),Asian (Count),Native Hawaiian and Other Pacific Islander (Count),Some other race (Count),Two or more races (Count),Hispanic or Latino origin (of any race) (Count),...,City,Council District,Latitude,Longitude,Mapped Location,Time to Resolve,Hours to Resolve,Days to Resolve,Year of Request,Neighborhood
0,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,33,36.080968,-86.602406,"(36.080968, -86.602406)",4 days 23:09:25,119.156944,4.964873,2022,Antioch / Cane Ridge
1,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,28,36.072191,-86.664342,"(36.07219072, -86.66434192)",2 days 16:16:00,64.266667,2.677778,2021,Antioch / Cane Ridge
2,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,33,36.050526,-86.606362,"(36.05052579, -86.60636223)",35 days 15:25:00,855.416667,35.642361,2021,Antioch / Cane Ridge
3,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,29,36.073930,-86.609670,"(36.07393, -86.60967)",7 days 00:04:00,168.066667,7.002778,2021,Antioch / Cane Ridge
4,37013,"35,483","16,986","14,101",90.0,"1,413",0.0,"1,235","1,658","3,971",...,ANTIOCH,32,36.044549,-86.612186,"(36.0445494, -86.6121858)",1 days 04:29:00,28.483333,1.186806,2021,Antioch / Cane Ridge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722021,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,NASHVILLE,21.0,36.187059,-86.797371,"(36.187058700238445, -86.7973711900413)",0 days 00:00:00,0.000000,0.000000,2022,Metrocenter
722022,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,NASHVILLE,2.0,36.193622,-86.806912,"(36.19362231161992, -86.80691239999999)",NaN,NaN,NaN,2018,Metrocenter
722023,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,NASHVILLE,2.0,36.187579,-86.800050,"(36.1875790690887, -86.8000497110188)",67 days 05:44:04,1613.734444,67.238935,2022,Metrocenter
722024,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,NASHVILLE,2.0,36.198301,-86.798659,"(36.1983009, -86.7986588)",0 days 00:00:00,0.000000,0.000000,2022,Metrocenter
722025,37228,"1,249",496,533,0.0,16,33.0,0,171,0,...,NASHVILLE,2.0,36.190231,-86.802281,"(36.19023130000001, -86.8022806)",0 days 00:00:00,0.000000,0.000000,2022,Metrocenter

In [12]:
requests_census.to_csv('../data/requests_census_neighborhoods.csv', index = False)